<div class="shelterAdmin">
  <div class="admin">
    <%= link_to avatar_for(f), f, size: 50 %>
    <p><%= link_to f.name, f %><br>
    <%= f.location %></p>
  </div>
  <div class="userIcon smallIcon addIcon">
    <%= link_to "", "#", rel: "tooltip", title: pluralize(f.pets.count, "Sponsored Pet") %>
    <p><%= f.pets.count %></p>
  </div>
  <div class="userIcon smallIcon editIcon">
    <%= link_to "", "#", rel: "tooltip", title: pluralize(f.microposts.count, "Comment") + " Added" %>
    <p><%= f.microposts.count %></p>
  </div>
  <div class="userIcon smallIcon photoIcon">
    <%= link_to "", "#", rel: "tooltip", title: pluralize(PetPhoto.includes(:user).where(user_id: f.id).size, "Photo") + " Added" %>
    <p><%= PetPhoto.includes(:user).where(user_id: f.id).size %></p>
  </div>
  <div class="userIcon lastUserIcon smallIcon videoIcon">
    <%= link_to "", "#", rel: "tooltip", title: pluralize(PetVideo.includes(:user).where(user_id: f.id).size, "Video") + " Added" %>
    <p><%= PetVideo.includes(:user).where(user_id: f.id).size %></p>
  </div>
</div>