<div class="shelterContact">
  <div class="digits">
    <%= @shelter.phone ? @shelter.phone : '' %>
  </div>
  <div class="address">
    <%= @shelter.street %>, <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zipcode %>
  </div>
</div>