<li>
  <div class="smallShelterIcon">
    <% if @nearbys.size > 1 %>
      <%= ["a", "b", "c", "d", "e"][f_counter].humanize %>
    <% end %>
  </div>
  <div class="foundShelterInfo">
    <h3><%= link_to(f.name, f) %></h3>
    <p><%= f.street %><br>
    <%= f.city %>, <%= f.state %> <%= f.zipcode %></p>
  </div>
  <div class="foundShelterPets">
    <ul>
      <li class="dogs">
        <%= link_to f.pets.select{|p| p.species.name == 'dog' and (p.pet_state.status == 'available' || p.pet_state.status == 'absent')}.count, f %>
      </li>          
      <li class="cats">
        <%= link_to f.pets.select{|p| p.species.name == 'cat' and (p.pet_state.status == 'available' || p.pet_state.status == 'absent')}.count, f %>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</li>