<li>
  <div class="smallShelterIcon">
    <% if @nearbys.size > 1 %>
      <%= ["a", "b", "c", "d", "e"][f_counter].humanize %>
    <% end %>
  </div>
  <div class="foundShelterInfo">
    <h3><%= link_to(f.name, f) %></h3>
    <p><%= f.street %><br>
    <%= f.city %>, <%= f.state %> <%= f.zipcode %></p>
  </div>
  <div class="foundShelterPets">
    <ul>
      <li class="dogs"><%= f.pets.select{|p| p.species.name == 'dog' and p.pet_state.status == 'available'}.count %></li>          
      <li class="cats"><%= f.pets.select{|p| p.species.name == 'cat' and p.pet_state.status == 'available'}.count %></li>
    </ul>
  </div>
  <div class="clearfix"></div>
</li>