<div class="headerButtons">
  <div class="headerEdit">
    <% if signed_in? and (current_user.admin? or (current_user.manager? && current_user.shelter_id == @shelter.id)) %>
      <%= link_to "Edit shelter", edit_shelter_path(@shelter), class: "btn btn-header btn-warning btn-admin" %>
    <% end %>
    <% if signed_in? and ((current_user.manager? && current_user.shelter_id != @shelter.id) or !current_user.manager?) and !current_user.admin? %>
      <a href="mailto:info@shelterme.com?subject=Please make <%= current_user.name %> a manager for <%=@shelter.name%>&body=(Please provide proof of your affiliation with the shelter)" target="_blank">Request manager access</a>
    <% end %>
  </div>
  <% if signed_in? %>
    <span id="boost_form">
      <% if current_user.boosting?(@shelter) %>
        <%= render 'unboost' %>
      <% else %>
        <%= render 'boost' %>
      <% end %>
    </span>
  <% end %>
</div>
