<table width="100%" class="table-condensed table-striped table-bordered shelterHours">
  <tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
  </tr>
  <tr>
    <td align="center"><%= @shelter.sun_hours %></td>
    <td align="center"><%= @shelter.mon_hours %></td>
    <td align="center"><%= @shelter.tue_hours %></td>
    <td align="center"><%= @shelter.wed_hours %></td>
    <td align="center"><%= @shelter.thu_hours %></td>
    <td align="center"><%= @shelter.fri_hours %></td>
    <td align="center"><%= @shelter.sat_hours %></td>
  </tr>
</table>