<li class="subAdmin">
  <table class="table-condensed">
    <tr>
      <td class="adminAdded" style="width:112px;"><%= f.created_at.to_date.to_formatted_s(:long) %></td>
      <td class="adminFollowers" style="width:120px;"><%= f.animal_code %></td>
      <td class="managedName">
	      <div class="adminPhoto">
		      <% if f.pet_photos.where(primary: true).size > 0 %>
		        <%= link_to image_tag(f.pet_photos.where(primary: true).first.image_url.to_s.gsub!(/upload/,"upload/t_mini"), width: "60", height: "40"), [f.shelter, f] %>
		      <% elsif f.pet_photos.count > 0 %>
		        <%= link_to image_tag(f.pet_photos.first.image_url.to_s.gsub!(/upload/,"upload/t_mini"), width: "60", height: "40"), [f.shelter, f] %>
		      <% else %>
			      <%= link_to "", [f.shelter, f] %>
		      <% end %>
				  <% if f.pet_state.status == 'available' || f.pet_state.status == 'absent' %>
				  <div class="corner <%= f.created_at < 1.month.ago ? 'veteran' : ( f.created_at < 1.week.ago ? 'middle' : 'new' ) %>Addition"></div>
				  <% end %>
	      </div>
        <% if f.name != '' %>
        <%= link_to f.name, [f.shelter, f] %>
        <% else %>
        <%= link_to "[ ]", [f.shelter, f] %>
        <% end %>
      </td>
      <td class="managedStatus">
        <%= simple_form_for(f, html: {class: 'form-horizontal' }) do |p| %>
          <div class="btn-group four-btn btn-graphic" data-toggle="buttons-radio" data-toggle-name="pet[pet_state_id]">
            <button type="button" data-toggle="button" class="btn" value="1">Available</button>
            <button type="button" data-toggle="button" class="btn" value="4">Absent</button>
            <button type="button" data-toggle="button" class="btn" value="2">Adopted</button>
            <button type="button" data-toggle="button" class="btn" value="3">Unavailable</button>
          </div>
          <%= p.hidden_field :pet_state_id, label: false %>
          <%= p.button :submit, "Save", class: "hiddenBtn", confirm: "Are you certain you want to change #{f.name != '' ? f.name : f.animal_code}'s status?" %>
        <% end %>
      </td>
    </tr>
  </table>
</li>