<div class="map">
  <a href="https://maps.google.com/maps?q=<%=@shelter.street.gsub(/ /,'+')%>+<%=@shelter.city.gsub(/ /,'+')%>+<%=@shelter.state%>" target="_blank">
    <img src="http://maps.googleapis.com/maps/api/staticmap?size=290x230&markers=icon:http://www.scimantics.com/shelterme/mapIcon.png|shadow:false%7Clabel:A%7C<%=@shelter.street.gsub(/ /,'+')%>,<%=@shelter.city.gsub(/ /,'+')%>,<%=@shelter.state%>&zoom=14&&sensor=false&key=AIzaSyBhRhKDSxCbsS-gmm9KT6O6n_Zy6JjS8_g" width="100%" height="100%">
  </a>
</div>