<li class="subAdmin">
  <table class="table-condensed">
    <tr>
      <td class="adminId"><%= shelter.id %></td>
      <td class="adminAdded"><%= shelter.available.count %></td>
      <td class="adminAdded"><%= shelter.absent.count %></td>
      <td class="adminAdded"><%= shelter.adopted.count %></td>
      <td class="adminAdded"><%= shelter.unavailable.count %></td>
      <td class="adminAdded"><%= shelter.fostered.count %></td>
      <td class="adminName"><%= link_to shelter.name, shelter %></td>
    </tr>
  </table>
</li>