<li class="subAdmin">
  <table class="table-condensed">
    <tr>
      <td class="adminId"><%= shelter.id %></td>
      <td class="adminAdded"><%= shelter.created_at.to_date.to_formatted_s(:long) %></td>
      <td class="adminFollowers"><%= shelter.boosters.count %></td>
      <td class="adminFollowers"><%= shelter.available.count %></td>
      <td class="adminName"><%= link_to shelter.name, shelter %></td>
      <td class="adminDelete">
        <%= link_to "Delete", shelter, method: :delete, confirm: "Are you certain you want to delete #{shelter.name}?" %>
      </td>
    </tr>
  </table>
</li>