<li class="subAdmin">
  <table class="table-condensed">
    <tr>
      <td style="width:217px;">
        <div class="name" style="width:217px;"><%= link_to shelter.name, shelter %></div>
      </td>
      <td class="adminSpark">
        <span class="sparklines"><!-- <%= shelter.available_journal %> --></span>
        <%= shelter.available_count %>
      </td>
      <td class="adminSpark">
        <span class="sparklines"><!-- <%= shelter.adopted_journal %> --></span>
        <%= shelter.adopted_count %>
      </td>
      <td class="adminSpark">
        <span class="sparklines"><!-- <%= shelter.unavailable_journal %> --></span>
        <%= shelter.unavailable_count %>
      </td>
      <td class="adminSpark">
        <span class="sparklines"><!-- <%= shelter.absent_journal %> --></span>
        <%= shelter.absent_count %>
      </td>
      <td class="adminSpark">
        <span class="sparklines"><!-- <%= shelter.fostered_journal %> --></span>
        <%= shelter.fostered_count %>
      </td>
      <td class="adminSpark">
        <span class="sparklines"><!-- <%= shelter.rescued_journal %> --></span>
        <%= shelter.rescued_count %>
      </td>
    </tr>
  </table>
</li>