<% provide(:title, "Edit Shelter") %> 
<div class="container content">
  <div class="form-section">
    <div class="pageHeader pageFormHeader">
      <div class="largeIcon editIcon"></div>
      <div class="headerInfo">
        <h1>Edit Shelter</h1><br>
      </div>
      <div class="headerButtons" style="right:10px;">
        <div class="headerEdit">
          <% if current_user.admin? %>
          <%= link_to "Delete shelter", @shelter, method: :delete, confirm: "Are you certain you want to delete this shelter? All pets associated with this shelter will also be deleted.", class: "btn btn-header btn-warning btn-admin", style: "width:110px;" %>
          <% end %>
        </div>
      </div>
    </div>
      <%= simple_form_for(@shelter, html: { class: 'form-horizontal' }) do |f| %>
      <div class="fullEditForm">
        <%= render 'shared/error_messages', object: f.object %>
        <div class="leftEditForm">
          <%= f.input :name %> 
          <%= f.input :phone %>
          <%= f.input :description, as: :text %>
					<% if current_user.admin? %>
          <%= f.input :slug, label: "Slug" %>
					<% end %>
          <%= f.label "Precedence", class: "control-label", required: true %>
          <div class="btn-group four-btn-full btn-graphic btn-two-column" data-toggle="buttons-radio" data-toggle-name="shelter[precedence_id]">
            <button type="button" data-toggle="button" class="btn" value="1">Newest</button>
            <button type="button" data-toggle="button" class="btn" value="2">Oldest</button>
            <button type="button" data-toggle="button" class="btn" value="3">Popular</button>
            <button type="button" data-toggle="button" class="btn" value="4">Unpopular</button>
          </div>
          <p class="help-block" style="margin-top:-15px;">Set the display order for your pets</p>
          <%= f.hidden_field :precedence_id, label: false %>
          <div id="char_count" class="editShelter"></div>
        </div>
        <div class="rightEditForm">
          <%= f.input :street %>
          <%= f.input :city %>
          <%= f.input :state %>
          <%= f.input :zipcode, label: "ZIP code" %>
          <br>
          <span class="formHeader">Hours of operation</span>
          <%= f.input :sun_hours, label: "Sunday" %>
          <%= f.input :mon_hours, label: "Monday" %>
          <%= f.input :tue_hours, label: "Tuesday" %>
          <%= f.input :wed_hours, label: "Wednesday" %>
          <%= f.input :thu_hours, label: "Thursday" %>
          <%= f.input :fri_hours, label: "Friday" %>
          <%= f.input :sat_hours, label: "Saturday" %>
        </div>
        <div class="clearfix"></div>
        <%= f.button :submit, "Save", class: "formBtn", style: "width:145px;" %>
        <%= link_to("Back to shelter profile", @shelter, style: "float:right;padding-top:4px;")%>
      </div>
      <% end %>
  </div>  
</div>
