<% provide(:title, 'Find Shelter') %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="largeIcon findIcon"></div>
      <%= render 'shelter_location' %>
      <%= render 'change_shelter_location' %>
    </div>
    <div class="row">
      <div class="foundShelters">
        <% if @nearbys.blank? %>
        <div class="noShelters">
          <p>There are no shelters in our database near the specified location.</p>
          <p>Please change your target location using the search box on the right.</p>
          <p>Search online to see if there are 
          <%= link_to "shelters in your area.", "https://maps.google.com/maps?q=animal+shelter+#{@current_location.gsub(/ |, /,'+')}&hl=en&z=10", target: "_blank" %></p>
        <% if signed_in? %>    
          <p>If you know of a shelter in your area, you can add it with the link below.</p>  
        <% end %>  
        </div>
        <% else %>  
          <ul>
            <%= render partial: 'found_shelters', collection: @nearbys, as: :f %>
          </ul>
        <% end %>
        <% if (@nearbys + @all_nearbys).count > 5 %>
        <a href="#" id="sheltersToggle" data-toggle="collapse" data-target="#allShelters">
        Show the <%= @all_nearbys.count %> additional nearby shelters</a>
        <div id="allShelters" class="collapse" style="margin-bottom: 40px;">
        <ul>
          <%= render partial: 'all_found_shelters', collection: @all_nearbys, as: :f %>
        </ul>
        </div>
        <% end %>
      <% if signed_in? %>
        <a href="newshelter" class="addShelter"><span style="font-weight:bold;font-size:28px;">+</span> Add Shelter</a>
      <% end %>
      </div>
      <%= render 'shelter_map' %>
    </div>
  </div>
</div>