<% provide(:title, "Add Shelter") %> 
<div class="container content">
  <div class="form-section">
    <div class="pageHeader pageFormHeader">
      <div class="largeIcon addIcon"></div>
      <div class="headerInfo">
        <h1>Add Shelter</h1><br>
      </div>
    </div>
    <div class="fullEditForm">
      <%= simple_form_for(@shelter, html: { class: 'form-horizontal' }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="leftEditForm">
          <%= f.input :name %> 
          <%= f.input :phone %>
          <%= f.input :description, as: :text %>
          <% if current_user.admin? %>
          <%= f.label "Precedence", class: "control-label", required: true %>
          <div class="btn-group four-btn-full btn-graphic btn-two-column" data-toggle="buttons-radio" data-toggle-name="shelter[precedence_id]">
            <button type="button" data-toggle="button" class="btn" value="1">Newest</button>
            <button type="button" data-toggle="button" class="btn" value="2">Oldest</button>
            <button type="button" data-toggle="button" class="btn" value="3">Popular</button>
            <button type="button" data-toggle="button" class="btn" value="4">Unpopular</button>
          </div>
          <p class="help-block" style="margin-top:-15px;">Set the display order for your pets</p>
          <%= f.hidden_field :precedence_id, label: false %>
          <div id="char_count" class="addShelter"></div>
          <% end %>
          <% unless current_user.admin? %>
            <div class="addInstructions" style="height:90px;">
            <p>Please fill out as much information as you can for the shelter, which then will be submitted for approval. We will notify you when your shelter has been added to the system. Thank you for your input!</p>
            </div>
          <% end %>
        </div>
        <div class="rightEditForm">
          <%= f.input :street %>
          <%= f.input :city %>
          <%= f.input :state %>
          <%= f.input :zipcode, label: "ZIP code" %>
          <br>
          <span class="formHeader">Hours of operation</span>
          <%= f.input :sun_hours, label: "Sunday" %>
          <%= f.input :mon_hours, label: "Monday" %>
          <%= f.input :tue_hours, label: "Tuesday" %>
          <%= f.input :wed_hours, label: "Wednesday" %>
          <%= f.input :thu_hours, label: "Thursday" %>
          <%= f.input :fri_hours, label: "Friday" %>
          <%= f.input :sat_hours, label: "Saturday" %>
        </div>
        <div class="clearfix"></div>
        <%= f.button :submit, "Add Shelter", class: "formBtn", style: "width:145px;" %>
        <%= link_to("Cancel", root_path, style: "float:right;padding-top:4px;")%>
      <% end %>
    </div>
  </div>  
</div>