<% provide(:title, @shelter.slug) %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <%= render "shared/header_logo" %>
      <%= render "shelter_info" %>
      <%= render "header_buttons" %>
    </div>
    <div class="row">
      <div class="shelterDetails">
        <div class="shelterBlurb">
          <%= simple_format(@shelter.description) %>
        </div>
        <%= render "hours" %>
      </div>
      <div class="rightColumn">
        <%= render "map" %>
      </div>
    </div>
  </div>  
  <%= render "shelter_content" %>
</div>