<div class="icon petTile <%= @pet.age_group %><%= @pet.gender.sex.capitalize %>Icon"></div>
<div class="tiletag">
  <%= @pet.current_age %>
   old 
  <%= @pet.age_group %>
  <%= @pet.gender.sex %>
</div>