<div class="icon petTile <%= @pet.size.name == 'small' ? 'low' : ( @pet.size.name == 'medium' ? 'mid' : 'high' ) %>Size<%=@pet.species.name.titleize%>Icon"> 
  <% if @pet.weight != ''%> 
  <span class="weight"><%= @pet.weight %></span>
  <% end %>
</div>
<div class="tiletag"><%= @pet.size.name %> <%= @pet.weight? ? @pet.weight.to_s + " lbs" : "" %> <%= @pet.species.name %></div>