<% if recent_adoptions.count > 0%>
<div class="sidebar-element">
  <h3>
    <div class="sideIcon landingIcons adoptedIcon"></div>
    <div class="landingText adoptedText"></div>
  </h3>
  <div class="adoptions">
    <% recent_adoptions.each do |f| %>
    <div class="item">
      <% if f.pet_photos.where(primary: true).size > 0 %>
        <%= link_to image_tag(f.pet_photos.where(primary: true).first.image_url.to_s.gsub!(/upload/,"upload/t_mini"), width: "60", height: "40"), [f.shelter, f] %>
      <% elsif f.pet_photos.count > 0 %>
        <%= link_to image_tag(f.pet_photos.first.image_url.to_s.gsub!(/upload/,"upload/t_mini"), width: "60", height: "40"), [f.shelter, f] %>
      <% else %>
        <%= link_to image_tag(), [f.shelter, f] %>
      <% end %>
      <% if f.name != '' %>
      <%= link_to f.name, [f.shelter, f] %>
      <% else %>
      <%= link_to f.animal_code, [f.shelter, f] %>
      <% end %>
      <div class="when"><%= time_ago_in_words(f.updated_at) %> ago</div>
    </div>
    <% end%>
  </div>
  <div class="clearfix"></div>
  <hr>
</div>
<% end %>