<div class="sidebar-element">
  <h3><%= image_tag("blogIcon.png", class: "sideIcon") %> <%= image_tag("blog.png", alt: "Blog") %></h3>
  <% unless @image == "none" %>
  <%= image_tag(@image, class: "sideImage", style:"float:right;") %>
  <% end %>
  <div class="blurb">
    <h4><%= link_to @title, @link, target: "_blank" %></h4>
    <p><%= @content %></p>
    <%= link_to "Read more", @link, target: "_blank" %>
  </div>
  <div class="clearfix"></div>
  <hr>
</div>