<div class="sidebar-element">
  <h3><%= image_tag("blogIcon.png", class: "sideIcon") %> <%= image_tag("blog.png", alt: "Blog") %></h3>
  <% unless @image == "none" %>
  <%= image_tag(@image, class: "sideImage", style:"float:right;") %>
  <% end %>
  <div class="blurb">
    <h4><%= @title %></h4>
    <p><%= @content %></p>
    <a href="<%= @link %>" target="_blank">Read more&#8230;</a>
  </div>
  <div class="clearfix"></div>
  <hr>
</div>