<div class="featured-shelter">
  <h2><%= image_tag("featuredShelter.png", alt: "Featured Shelter") %></h2>
  <% if !@shelter.blank? %>
  <div class="featured-shelter-map">
    <div class="address-block">
      <h3><%= link_to @shelter.name, @shelter %></h3> <!-- Closest shelter with the most available pets -->
      <p><%= @shelter.street %>, <%= @shelter.city %> <%= @shelter.state %></p>
    </div>
    <div class="address-map">
      <%= render "shared/thin_map", s: @shelter %>
    </div>
  </div>
  <h4>At this Shelter</h4>
  <% if @pets.count > 0 %>
  <%= render partial: "shared/pet_tile", 
      collection: @shelter.available.first(2), 
      as: :f %>
  <% else %>
    <br>
    <p>Sorry, but there aren't any available pets in our database at this shelter. Please visit the shelter and add some pets to ShelterMe.</p>
  <% end %>
  <% else %>
  <div class="noShelters">
    <% if location == "MapQuest not responding" %>
    <p>Our apologies, but we cannot look up any shelters right now. Our geocoding service is currently unavailable. Please try back later.</p>
    <% else %>
    <p>Our apologies, but there are no shelters in our database near <%= cookies[:location] %>.</p>
    <p>Search online to see if there are 
    <%= link_to "shelters in your area.", "https://maps.google.com/maps?q=animal+shelter+#{cookies[:location].gsub(/ |, /,'+')}&hl=en&z=10", target: "_blank" %>
    </p>    
  <% if signed_in? %>
    <p>If you know of a shelter in your area, you can add it with the link below.</p>  
    <ul style="list-style:none;text-indent:0;margin-left:0;padding-left:0;">
    <li class="addShelter" style="border-bottom:none;">
      <a href="newshelter"><span style="font-weight:bold;font-size:28px;">+</span> Add Shelter</a>
    </li>
    </ul>
  <% end %>
  <% end %>
  </div>
  <% end %>
</div>