<% provide(:title, 'About Us') %>
<div class="container content">
  <div class="profile-section">
    <div class="row">
      <div class="rowContent">
        <div class="staticNav">
          <ul>
            <li><%= link_to "FAQ", faq_path %></li>
            <li class="active">
              <h4>About Us</h4>
              <%= link_to "Ady Gil", "#ady" %>
              <%= link_to "Steven Latham", "#steven" %>
              <%= link_to "Tim Lenz", "#tim" %>
            </li>
            <li><%= link_to "Contact Us", contact_path %></li>
            <li><%= link_to "Terms of Use", terms_path %></li>
            <li><%= link_to "Privacy Policy", privacy_path %></li>
          </ul>
        </div>
        <div class="staticContent">
	        <div class="staticEntry">
	        	<h3>About the Site</h3>
	          <div class="staticBlurb">
	          	<p>ShelterMe.com is a social network to help shelter animals get adopted.  It’s a tool to get the public involved with their local shelters.  ShelterMe.com is a platform that allows anyone to create beautiful profiles of shelter pets by uploading photos, video and detailed descriptions of each animal.</p>
							<p>This site will increase the visibility of shelter pets, encourage people to adopt and help these incredible animals get a new home.</p>
							<p>During the initial phase of this project the site is focused on the Los Angeles City and County animal shelters. This summer we will be adding municipal shelters in other areas.</p>
	          </div>
	        </div>
          <a name="ady"></a>
          <div class="staticEntry">
            <h3>Ady Gil</h3>
            <div class="staticImage">
              <%= image_tag("adyKayla.jpg", title: "Photo courtesy of Susan Weingartner") %>
							<div class="pet-icons">
                <ul>
                  <li><%= link_to "", "#", class: "petTile adultFemaleIcon", rel: "tooltip", title: "Adult (10 year) female" %></li>
                  <li><%= link_to "", "#", class: "petTile highSizeDogIcon", rel: "tooltip", title: "85 lb Large dog" %><span class="weight">85</span></li>
                  <li><%= link_to "", "#", class: "petTile shortBrownWhiteIcon", rel: "tooltip", title: "Short brown & white fur" %></li>
                  <li><%= link_to "", "#", class: "petTile midEnergyIcon", rel: "tooltip", title: "Moderate" %></li>
                  <li><%= link_to "", "#", class: "petTile highDogNatureIcon", rel: "tooltip", title: "Confident" %></li>
                  <li><%= link_to "", "#", class: "petTile highAffectionIcon", rel: "tooltip", title: "Devoted" %></li>
                </ul>
              </div>
              <h4>Kayla <span class="breed">Rhodesian Ridgeback / American Pit Bull Terrier</span></h4>
            </div>
            <div class="staticBlurb">
              <p>Ady Gil is the co-founder of ShelterMe.com and an executive producer of the PBS series, <span style="font-weight:bold;">SHELTER ME</span>. He is recognized as one of the most influential and generous philanthropists in the animal welfare movement today. His funding and support has enabled countless rescue and humane organizations to continue their life saving work worldwide. Ady’s dedication on behalf of animals has been recognized in multiple media outlets including CNN, The New York Times, The Los Angeles Times and Forbes Magazine. He is also the recipient of numerous, prestigious humane awards from animal organizations both large and small. </p>
              <p>Ady’s more notable achievements include the rescue and placement of thousands of dogs from inhumane puppy mills into loving homes, the purchase of a ship called ‘The Ady Gil’ which prevented the slaughter of whales from Japan to the Antarctic sea, all while he continues to work with governmental agencies and policy makers to create groundbreaking laws to protect animals.</p>
              <p>He founded the companies American Hi Definition and Sweetwater Digital, which he recently sold so he could live his life-long dream of helping animals full time. Ady enjoys spending time with his rescue dog, Kayla, and rescue cat, Ozzy.</p>
              <p>Ady obviously has a strong attachment to his pets: "Kayla was adopted from the shelter about 10 years ago. Ever since, she has been part of my family. She is a great dog and is now entering her senior years. She has gone to work with me every day. She listens very well. I am so blessed to have Kayla in my life, as she is definitely my best friend."</p>
            </div>
            <div class="clearfix"></div>
          </div>
	        <a name="steven"></a>
          <div class="staticEntry">
            <h3>Steven Latham</h3>
            <div class="staticImage">
              <%= image_tag("stevenDogs.jpg") %>
							<div class="pet-icons">
                <ul>
                  <li><%= link_to "", "#", class: "petTile adultFemaleIcon", rel: "tooltip", title: "Adult (7 year) female" %></li>
                  <li><%= link_to "", "#", class: "petTile highSizeDogIcon", rel: "tooltip", title: "55 lb Large dog" %><span class="weight">55</span></li>
                  <li><%= link_to "", "#", class: "petTile mediumBlackGrayIcon", rel: "tooltip", title: "Medium black & gray fur" %></li>
                  <li><%= link_to "", "#", class: "petTile midEnergyIcon", rel: "tooltip", title: "Moderate" %></li>
                  <li><%= link_to "", "#", class: "petTile lowDogNatureIcon", rel: "tooltip", title: "Submissive" %></li>
                  <li><%= link_to "", "#", class: "petTile lowAffectionIcon", rel: "tooltip", title: "Reserved" %></li>
                </ul>
              </div>
              <h4>Reba <span class="breed">Catahoula Leopard / Mix</span></h4>
              <div class="pet-icons">
                <ul>
                  <li><%= link_to "", "#", class: "petTile adultMaleIcon", rel: "tooltip", title: "Adult (3.5 year) male" %></li>
                  <li><%= link_to "", "#", class: "petTile highSizeDogIcon", rel: "tooltip", title: "50 lb Large dog" %><span class="weight">50</span></li>
                  <li><%= link_to "", "#", class: "petTile shortBlackWhiteIcon", rel: "tooltip", title: "Short black & white fur" %></li>
                  <li><%= link_to "", "#", class: "petTile lowEnergyIcon", rel: "tooltip", title: "Relaxed" %></li>
                  <li><%= link_to "", "#", class: "petTile midDogNatureIcon", rel: "tooltip", title: "Playful" %></li>
                  <li><%= link_to "", "#", class: "petTile highAffectionIcon", rel: "tooltip", title: "Devoted" %></li>
                </ul>
              </div>
              <h4>Blue <span class="breed">Catahoula Leopard / Great Dane</span></h4>
            </div>
            <div class="staticBlurb">
              <p>Steven is an award-winning filmmaker and the producer and director of the PBS series <span style="font-weight:bold;">SHELTER ME</span>, which celebrates shelter pets with positive and uplifting stories. He is the creator and co-founder of the ShelterMe.com social network, which allows anyone to create an online profile of a shelter pet and search for their new best friend. In addition, Steven produced and directed a film for NOVA/PBS about solar energy titled, <span style="font-weight:bold;">SAVED BY THE SUN</span>. He produced and directed the feature documentary about the TED Conference, <span style="font-weight:bold;">THE FUTURE WE WILL CREATE</span>, with partner Daphne Zuniga. He also created and directed the PBS series, <span style="font-weight:bold;">THE LIVING CENTURY</span>, which told the amazing stories of the 20th Century through individuals who were at least 100 years old. He produced this project with Barbra Streisand. Steven was a marketing and studio executive prior to launching his production company.</p>
              <p>Steven is an animal lover and proud to share his life with three shelter dogs:  Reba, Blue and Emma. They make him laugh and smile every day. The journey these dogs took to become part of his life was the inspiration for creating the project <span style="font-weight:bold;">SHELTER ME</span>. He has made a life-long commitment to help shelter pets find great, loving homes. In speaking about his dogs, Steven says:</p>
              <p>&quot;Reba was my first shelter dog.  She found her way into my heart in 2007.  The first day I met her, she was so shy.  She got really low to the ground and crawled over to me.  I have a soft spot for shy dogs.  I knew that with some structure and love, she would blossom.  And she did : )  The first day at home she was cautious.  But I was very patient with her.  We went on daily walks and you could see her confidence growing every day.  Then she found the bed.  Oh, does she love sleeping at the foot of my bed.  Our bond grows stronger every day.  Reba is a different dog than when we first met.  She loves to run and play and meet new people. She got a second chance and that has made my life a lot brighter.</p>
              <p>&quot;I was driving home from the farmer's market and saw a dog on the side of the road. He looked out of place. He was very skinny, had no collar and wasn't neutered. It looked like he didn't know where to go. I pulled over. I had some treats and a leash in my car. He wouldn't let me get closer than 10 feet, but welcomed any treats that I threw to him. I told him I wanted to help him. The closer I tried to get the more he moved away. And so began my three hour odyssey to catch him. I called animal control and a group of us finally caught him and brought him to the shelter. I visited him every day. I named him Blue. As expected, no one came to claim Blue and the day he was put up for adoption, I paid the fee, got him fixed and promised to find him a great home. I don't think he had ever been in a house before or walked on a leash. He certainly learned quickly. He was so sweet and loving and got along great with my other dog, Reba. I soon realized that I was going to give Blue that great home I promised him and he was going to be my friend for the rest of his life.&quot;</p>
            </div>
            <div class="clearfix"></div>
          </div>
	        <a name="tim"></a>
          <div class="staticEntry last">
            <h3>Tim Lenz</h3>
            <div class="staticImage">
              <%= image_tag("timYogi.jpg") %>
							<div class="pet-icons">
                <ul>
                  <li><%= link_to "", "#", class: "petTile seniorMaleIcon", rel: "tooltip", title: "Senior (12 year) male" %></li>
                  <li><%= link_to "", "#", class: "petTile midSizeDogIcon", rel: "tooltip", title: "80 lb medium dog"%><span class="weight">80</span></li>
                  <li><%= link_to "", "#", class: "petTile mediumBlackWhiteIcon", rel: "tooltip", title: "Medium black & white fur"%></li>
                  <li><%= link_to "", "#", class: "petTile midEnergyIcon", rel: "tooltip", title: "Moderate"%></li>
                  <li><%= link_to "", "#", class: "petTile midDogNatureIcon", rel: "tooltip", title: "Playful"%></li>
                  <li><%= link_to "", "#", class: "petTile highAffectionIcon", rel: "tooltip", title: "Devoted"%></li>
                </ul>
              </div>
              <h4>Yogi <span class="breed">Bassett Hound / Labrador Retriever</span></h4>
            </div>
            <div class="staticBlurb">
              <p>Tim is a software developer with a proven track record of developing cutting-edge software systems. His educational background is a combination of chemical engineering and artificial intelligence. He created decision support systems for the design, prototyping and manufacture of polymer composite materials for the aerospace and automotive industries. He worked in the defense industry doing link analysis and data mining. Together with a small team of partners, he designed and implemented a radically new approach to control software for transmission electron microscopes. He co-founded Enoetic, a consumer photography startup that developed Photology, software that automatically analyzed digital photos and enabled people to search their photos without having to organize or tag them. He also co-founded and created the online presence for Hester van Eeghen US, the online boutique for the renowned Dutch designer.</p>
              <p>About Yogi, Tim says: "Yogi came to us after he was rescued from a kill shelter in Atlanta, GA. He was always super mellow and affectionate. He would have made a great emotional service dog, as he had an amazing sense of how to interact with both children and adults, modifying his behavior as appropriate. Yogi was a walking dichotomy. He was a big dog with really short legs - a tank, if you will. He loved to run on the beach, but hated water. He rode in a small car across the country - twice - and loved every second of it. Riding in the car was his favorite activity after eating (of course). He would chase squirrels and deer with great enthusiasm, but only for the chase and only to the edge of the yard. He brought such great joy to everyone he met. Obviously, we were biased, but to us Yogi was the BEST DOG EVER. Sadly, Yogi is no longer with us. But he was happy, playful and affectionate until the very end. We miss him terribly."</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
