<% provide(:title, 'FAQ') %>
<div class="container content">
  <div class="profile-section">
    <div class="row">
      <div class="rowContent">
        <div class="staticNav">
          <ul>
            <li class="active">
              <h4>FAQ</h4>
            </li>
            <li><%= link_to "About Us", about_path %></li>
            <li><%= link_to "Contact Us", contact_path %></li>
            <li><%= link_to "Terms of Use", terms_path %></li>
            <li><%= link_to "Privacy Policy", privacy_path %></li>
          </ul>
        </div>
        <div class="staticContent">
          <div class="staticEntry">
            <h3>Is ShelterMe.com available in my area?</h3>
            <div class="staticBlurb">
              <span class="answer">A</span>
              <p>Right now, the site is in public beta in Los Angeles and available only for the L.A. City and County shelters. We will be opening up the site to other municipal shelters this summer.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="staticEntry">
            <a name="createProfile"></a>
            <h3>How do I create a profile of a shelter pet?</h3>
            <div class="staticBlurb">
              <span class="answer">A</span>
              <p>All you need to do is visit your local shelter, spend time with a shelter pet, take some great photos and video and write a few sentences that best describe that pet.</p>
              <p>Please write down the Animal ID number on the cage card.  It’s usually a letter followed by a series of numbers, such as:  A1278030. See the example cage card below:</p>
              <%= image_tag "baby_cageCard.jpg", style:"margin-left:auto;margin-right:auto;display:block;margin-bottom:30px;" %>
              <p>Then go to ShelterMe.com, create an account and click “Add Pet” on the top menu.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="staticEntry">
            <h3>Can rescue organizations post their pets on ShelterMe.com?</h3>
            <div class="staticBlurb">
              <span class="answer">A</span>
              <p>Nope, sorry. This site is dedicated to city and county animal shelters.</p>
              <p>We define animal shelters for this site as municipal animal control agencies, run by city or county governments and private, non-profit agencies with a government contract to provide animal control services.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="staticEntry">
            <h3>Who is behind ShelterMe.com?</h3>
            <div class="staticBlurb">
              <span class="answer">A</span>
              <p>This site was co-founded by Steven Latham an Ady Gil. They are the team that produces the PBS series, Shelter Me. The series celebrates shelter pets with positive and uplifting stories. The TV series raises awareness about the incredible animals at our shelters that need homes and ShelterMe.com is one of our tools to turn that awareness to action. If you ever asked, “What you I do to help our shelter pets?” there is now an answer:  create an online profile to bring more people into the shelter to help these animals get adopted.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="staticEntry">
            <h3>Is ShelterMe.com a free service for animal shelters and the public?</h3>
            <div class="staticBlurb">
              <span class="answer">A</span>
              <p>Yes, totally free. The site is funded by the 501c3 foundation, AGWC (Ady Gil World Conservation). Ady is also an executive producer of the Shelter Me TV series.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="staticEntry">
            <h3>What if I try to create a profile for a pet that already has one?</h3>
            <div class="staticBlurb">
              <span class="answer">A</span>
              <p>You can contribute additional information to an existing profile. When you click “Add Pet” on the top menu bar and type in the Animal ID number from the cage card, you may get the message: Potential Match Found. If so, you can add additional photos, video and description to this profile. This can be very helpful since it creates a conversation about that animal and gives different perspectives. For example, if an animal is shy and you spend extra time with him or her, you can add to the profile so the public can see the progress. These profiles are not static or written in stone. We want to hear from multiple people and get lots of interactions with the pets.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="staticEntry">
            <a name="mediaTips"></a>
            <h3>Do you have some tips on taking good photos and video?</h3>
            <div class="staticBlurb">
              <span class="answer">A</span>
              <p>The main thing is to have fun.  These pets are loving animals that need homes.  We want to make sure that the profiles make a great first impression.  Most shelters have a play area.  Please ask staff or a volunteer to take the pet out of the cage.  Here are a few simple tips:  it’s best to have the light behind you, if there are any plants, trees or home environments, please shoot photos and video with that in the background.  We want to get away from shooting through cages.</p>
							<p>If you’re with a friend or with a staff member or volunteer, have that person in the photo or video smiling.  For video, have that person describe the pet:  what’s their personality like…playful?  Energetic? Couch potato?  Do they like to play fetch?  Just describe what it’s like spending time with this pet. 
							</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="staticEntry last">
            <h3>How many photos and video can I add?</h3>
            <div class="staticBlurb">
              <span class="answer">A</span>
              <p>You can upload as many photos and video as you’d like. Think about what you would like to see if you were looking to adopt a pet. Have the photos and video bring that pet to life…we want these profiles to inspire people to go and visit that pet right away and share that page with their friends.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
