<% provide(:title, 'FAQ') %>
<div class="container content">
  <div class="profile-section">
    <div class="row">
      <div class="rowContent">
        <div class="staticNav">
          <ul>
            <li class="active">
              <h4>FAQ</h4>
              <%= link_to "question 1", "#q1" %>
              <%= link_to "question 2", "#q2" %>
              <%= link_to "question 3", "#q3" %>
            </li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "About Us", about_path %></li>
            <li><%= link_to "Contact Us", contact_path %></li>
            <li><%= link_to "Terms of Use", terms_path %></li>
            <li><%= link_to "Privacy Policy", privacy_path %></li>
          </ul>
        </div>
        <div class="staticContent">
          <a name="q1"></a>
          <div class="staticEntry">
            <h3>Question 1</h3>
            <div class="staticBlurb">
              <span class="answer">A</span>
              <p>The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. A true inspiration for the children. Are you crazy? I can't swallow that. In our darkest hour, we can stand erect, with proud upthrust bosoms. I saw you with those two "ladies of the evening" at Elzars. Explain that. No! The cat shelter's on to me.</p>
              <p>Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused. Yes, except the Dave Matthews Band doesn't rock. Actually, that's still true. You'll have all the Slurm you can drink when you're partying with Slurms McKenzie! I suppose I could part with 'one' and still be feared… That's right, baby. I ain't your loverboy Flexo, the guy you love so much. You even love anyone pretending to be him!</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="staticEntry">
            <a name="q2"></a>
            <h3>Question 2</h3>
            <div class="staticBlurb">
              <span class="answer">A</span>
              <p>The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. A true inspiration for the children. Are you crazy? I can't swallow that. In our darkest hour, we can stand erect, with proud upthrust bosoms. I saw you with those two "ladies of the evening" at Elzars. Explain that. No! The cat shelter's on to me.</p>
              <p>Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused. Yes, except the Dave Matthews Band doesn't rock. Actually, that's still true. You'll have all the Slurm you can drink when you're partying with Slurms McKenzie! I suppose I could part with 'one' and still be feared… That's right, baby. I ain't your loverboy Flexo, the guy you love so much. You even love anyone pretending to be him!</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="staticEntry last">
            <a name="q3"></a>
            <h3>Question 3</h3>
            <div class="staticBlurb">
              <span class="answer">A</span>
              <p>The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. A true inspiration for the children. Are you crazy? I can't swallow that. In our darkest hour, we can stand erect, with proud upthrust bosoms. I saw you with those two "ladies of the evening" at Elzars. Explain that. No! The cat shelter's on to me.</p>
              <p>Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused. Yes, except the Dave Matthews Band doesn't rock. Actually, that's still true. You'll have all the Slurm you can drink when you're partying with Slurms McKenzie! I suppose I could part with 'one' and still be feared… That's right, baby. I ain't your loverboy Flexo, the guy you love so much. You even love anyone pretending to be him!</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
