<% provide(:title, 'Help') %>
 <div class="page-header">
 	<h1>Help</h1>
 </div>
<div class="row">
	<aside class="span3">
		<ul class="nav nav-list">
			<li><%= link_to "FAQ", faq_path %></li>
			<li class="active"><%= link_to "Help", "#" %></li>
			<li><%= link_to "About Us", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Terms of Use", terms_path %></li>
			<li><%= link_to "Privacy Policy", privacy_path %></li>
		</ul>
	</aside>
	<div class="span9">
		<div class="static-header">
			<h3>Title</h3>
		</div>
		<div style="min-height:200px;background-color:#eee;padding:20px;">
			<p>This opera's as lousy as it is brilliant! Your lyrics lack subtlety. You can't just have your characters announce how they feel. That makes me feel angry! No! I want to live! There are still too many things I don't own! What are you hacking off? Is it my torso?! 'It is!' My precious torso!</p>
		</div>
		<div class="static-header">
			<h3>Title</h3>
		</div>
		<div style="min-height:200px;background-color:#eee;padding:20px;">
			<p>This opera's as lousy as it is brilliant! Your lyrics lack subtlety. You can't just have your characters announce how they feel. That makes me feel angry! No! I want to live! There are still too many things I don't own! What are you hacking off? Is it my torso?! 'It is!' My precious torso!</p>
		</div>
	</div>
</div>
