<%= render "hero" %>
<div class="container">
  <div class="row front-content">
    <div class="span8"> <!-- FEATURED CONTENT -->
      <%= render "pets" %>
      <div class="clearfix"></div>
      <%= render "shelter" %>
    </div>
    <div class="span4 sidebar"> <!-- CALLOUTS -->
	    <div class="sidebar-element">
			  <p>Currently, we are available only for the Los Angeles City and County animal shelters. We will be opening up the site to other municipal shelters this summer.</p>
			  <div class="clearfix"></div>
			  <hr>
			</div>
      <%= render "adopted" %>
      <%= render "tutorial_teaser" %>
			<% if @blog != false %>
      <%= render "blog_blurb" %>
			<% end %>
    </div>
  </div>
</div>