<%= render "hero" %>
<div class="container">
  <div class="row front-content">
    <div class="span8"> <!-- FEATURED CONTENT -->
      <%= render "pets" %>
      <div class="clearfix"></div>
      <%= render "shelter" %>
    </div>
    <div class="span4 sidebar"> <!-- CALLOUTS -->
	  <%= render "events" %>
      <%= render "adopted" %>
      <%= render "tutorial_teaser" %>
      <% if @blog != false %>
      <%= render "blog_blurb" %>
      <% end %>
    </div>
  </div>
</div>