<%= provide(:title, 'Statistics') %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="headerInfo">
        <h1>Site Statistics</h1><br>
        <p><%= Time.now.strftime("%I:%M %p on %b %d, %Y") %></p>
      </div>
    </div>
    <div class="row">
      <div class="span12 adminView">
        <div class="adminColumn">
          <h2>
            <%= image_tag("matchMeIcon.png", alt: "Pets") %>
            <%= Pet.all.count %> Pets
          </h2>
          <ul>
	          <li>
		          <h3>Available 
			          <span style="padding-left: 10px;"><%= Pet.select{|p| p.pet_state.status == 'available'}.count %></span>
			          <span class="sparklines"><!-- <%= @available_journal %> --></span> 
			        </h3>
            </li>
	          <li>
		          <h3>Absent 
			          <span style="padding-left: 10px;"><%= Pet.select{|p| p.pet_state.status == 'absent'}.count %></span>
			          <span class="sparklines"><!-- <%= @absent_journal %> --></span> 
			        </h3>
            </li>
	          <li>
		          <h3>Adopted 
			          <span style="padding-left: 10px;"><%= Pet.select{|p| p.pet_state.status == 'adopted'}.count %></span>
			          <span class="sparklines"><!-- <%= @adopted_journal %> --></span> 
			        </h3>
            </li>
	          <li>
		          <h3>Unavailable 
			          <span style="padding-left: 10px;"><%= Pet.select{|p| p.pet_state.status == 'unavailable'}.count %></span>
			          <span class="sparklines"><!-- <%= @unavailable_journal %> --></span> 
			        </h3>
            </li>
            <li>
		          <h3>Most Common Names</h3><br>
		          <ol>
			          <% @names.each do |n| %>
			          <li><%= n %></li>
			          <% end %>
		          </ol>
            </li>
          </ul>
        </div>
        <div class="adminColumn">
          <h2>
            <%= image_tag("catIcon.png") %> 
            <%= Pet.select{|p| p.species.name == 'cat'}.count %> Cats
          </h2>
          <ul>
            <li>
	            <h3>Available
		            <span><%= Pet.select{|p| p.species.name == 'cat' and p.pet_state.status == 'available'}.count %></span>
		          </h3>
		        </li>
            <li>
	            <h3>Absent
		            <span><%= Pet.select{|p| p.species.name == 'cat' and p.pet_state.status == 'absent'}.count %></span>
		          </h3>
		        </li>
            <li>
	            <h3>Adopted
		            <span><%= Pet.select{|p| p.species.name == 'cat' and p.pet_state.status == 'adopted'}.count %></span>
		          </h3>
		        </li>
            <li>
	            <h3>Unavailable
		            <span><%= Pet.select{|p| p.species.name == 'cat' and p.pet_state.status == 'unavailable'}.count %></span>
		          </h3>
		        </li>
            <li>
	            <h3>Most Common Names</h3><br>
		          <ol>
			          <% @cat_names.each do |n| %>
			          <li><%= n %></li>
			          <% end %>
		          </ol>
            </li>
          </ul>
        </div>
        <div class="adminColumn">
          <h2>
            <%= image_tag("dogIcon.png") %> 
            <%= Pet.select{|p| p.species.name == 'dog'}.count %> Dogs
          </h2>
          <ul>
            <li>
	            <h3>Available
		            <span><%= Pet.select{|p| p.species.name == 'dog' and p.pet_state.status == 'available'}.count %></span>
		          </h3>
		        </li>
            <li>
	            <h3>Absent
		            <span><%= Pet.select{|p| p.species.name == 'dog' and p.pet_state.status == 'absent'}.count %></span>
		          </h3>
		        </li>
            <li>
	            <h3>Adopted
		            <span><%= Pet.select{|p| p.species.name == 'dog' and p.pet_state.status == 'adopted'}.count %></span>
		          </h3>
		        </li>
            <li>
	            <h3>Unavailable
		            <span><%= Pet.select{|p| p.species.name == 'dog' and p.pet_state.status == 'unavailable'}.count %></span>
		          </h3>
		        </li>
            <li>
	            <h3>Most Common Names</h3><br>
		          <ol>
			          <% @dog_names.each do |n| %>
			          <li><%= n %></li>
			          <% end %>
		          </ol>
            </li>
          </ul>
        </div>
        <div class="adminColumn">
          <h2><%= image_tag("editProfileIcon.png", alt: "Users") %><%= User.all.count %> Users</h2>
          <ul>
	          <li>
		          <h3>Total <span><%= User.all.count %></span></h3>
		        </li>
		        <li>
		          <h3>Manager <span><%= User.all.select{|u| u.manager == true}.count %></span></h3>
		        </li>
		        <li>
		          <h3>Admin <span><%= User.all.select{|u| u.admin == true}.count %></span></h3>
		        </li>
		        <li>
			        <h3>Common Characteristics</h3><br>
			        <ol>
			        <li>
				        Openness <span><%= @open %></span>
				      </li>
			        <li>
				        Planning <span><%= @plan %></span>
				      </li>
			        <li>
				        Sociality <span><%= @social %></span>
				      </li>
			        <li>
				        Attitude <span><%= @attitude %></span>
				      </li>
			        <li>
				        Emotion <span><%= @emotion %></span>
				      </li>
			        <li>
				        Cleanliness <span><%= @clean %></span>
				      </li>
			        <li>
				        Energy <span><%= @energy %></span>
				      </li>
				      </ol>
			      </li>
	        </ul>
        </div>
        <div class="adminColumn">
          <h2>
            <%= image_tag("shelterIcon.png", alt: "Shelter") %>
            <%= Shelter.all.count %> Shelters
          </h2>
          <ul>
	          <li>
		          <% @shelters_state.each do |n| %>
		          <h3><%= n[0] %> <span><%= n[1] %></span></h3>
		          <% end %>
		        </li>
	        </ul>
        </div>
      </div>
    </div>
  </div>
</div>