<%= provide(:title, 'Statistics') %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="headerInfo">
        <h1>Site Statistics</h1><br>
        <p><%= Time.now.strftime("%I:%M %p on %b %d, %Y") %></p>
      </div>
    </div>
    <div class="row">
      <div class="span12 adminView">
        <div class="adminColumn">
          <h2>
            <%= image_tag("matchMeIcon.png", alt: "Pets") %>
            <%= Pet.all.count %> Pets
          </h2>
          <ul>
            <li><h3>Watched</h3><%= Bond.count('pet_id', distinct: true) %> (<%= number_to_percentage(Bond.count('pet_id', distinct: true).to_f / Pet.all.count.to_f * 100, precision: 0) %>)</li>
            <li><h3>Unwatched</h3><%= Pet.all.count - Bond.count('pet_id', distinct: true) %></li>
            <br>
            <li><h3>Available</h3><%= Pet.select{|p| p.pet_state.status == 'available'}.count %></li>
            <li><h3>Adopted</h3><%= Pet.select{|p| p.pet_state.status == 'adopted'}.count %></li>
            <li><h3>Not Available</h3><%= Pet.select{|p| p.pet_state.status == 'unavailable'}.count %></li>
            <br>
            <li><h3>Most Common Names</h3><br>
            <% Pet.all.map{|n| n.name }.inject(Hash.new(0)) {|hash, val| hash[val] += 1; hash}.entries.sort_by{|k,v| v}.reverse[0..9].each do |pn| %>
            <%= pn.first %>&nbsp;
            <% end %>
            </li>
          </ul>
        </div>
        <div class="adminColumn">
          <h2>
            <%= image_tag("catIcon.png") %> 
            <%= Pet.select{|p| p.species.name == 'cat'}.count %> Cats
          </h2>
          <ul>
            <li><h3>Available</h3><%= Pet.select{|p| p.species.name == 'cat' and p.pet_state.status == 'available'}.count %></li>
            <li><h3>Adopted</h3><%= Pet.select{|p| p.species.name == 'cat' and p.pet_state.status == 'adopted'}.count %></li>
            <li><h3>Not Available</h3><%= Pet.select{|p| p.species.name == 'cat' and p.pet_state.status == 'unavailable'}.count %></li>
            <br>
            <li><h3>Most Common Names</h3><br>
            <% Pet.select{|p| p.species.name == 'cat'}.map{|n| n.name }.inject(Hash.new(0)) {|hash, val| hash[val] += 1; hash}.entries.sort_by{|k,v| v}.reverse[0..9].each do |pn| %>
            <%= pn.first %>&nbsp;
            <% end %>
            </li>
          </ul>
        </div>
        <div class="adminColumn">
          <h2>
            <%= image_tag("dogIcon.png") %> 
            <%= Pet.select{|p| p.species.name == 'dog'}.count %> Dogs
          </h2>
          <ul>
            <li><h3>Available</h3><%= Pet.select{|p| p.species.name == 'dog' and p.pet_state.status == 'available'}.count %></li>
            <li><h3>Adopted</h3><%= Pet.select{|p| p.species.name == 'dog' and p.pet_state.status == 'adopted'}.count %></li>
            <li><h3>Not Available</h3><%= Pet.select{|p| p.species.name == 'dog' and p.pet_state.status == 'unavailable'}.count %></li>
            <br>
            <li><h3>Most Common Names</h3><br>
            <% Pet.select{|p| p.species.name == 'dog'}.map{|n| n.name }.inject(Hash.new(0)) {|hash, val| hash[val] += 1; hash}.entries.sort_by{|k,v| v}.reverse[0..9].each do |pn| %>
            <%= pn.first %>&nbsp;
            <% end %>
            </li>
          </ul>
        </div>
        <div class="adminColumn">
          <h2><%= image_tag("editProfileIcon.png", alt: "Users") %><%= User.all.count %> Users</h2>
          <ul>
            <li><h3>Watching</h3><%= Bond.count('user_id', distinct: true) %> (<%= number_to_percentage(Bond.count('user_id', distinct: true).to_f / User.all.count.to_f * 100, precision: 0) %>)</li>
            <li><h3>Ave Watched</h3><%= number_with_precision(Bond.count('pet_id', distinct: true).to_f / Bond.count('user_id', distinct: true).to_f, precision: 2) %></li>
            <br>
            <li><h3>Sponsoring</h3><%= Pet.count('user_id', distinct: true) %> (<%= number_to_percentage(Pet.count('user_id', distinct: true).to_f / User.all.count.to_f * 100, precision: 0) %>)</li>
            <li><h3>Ave Sponsored</h3><%= Pet.all.count.to_f / Pet.count('user_id', distinct: true).to_f %></li>
            <br>
            <li><h3>Boosting</h3><%= Favorite.count('user_id', distinct: true) %> (<%= number_to_percentage(Favorite.count('user_id', distinct: true).to_f / User.all.count.to_f * 100, precision: 0) %>)</li>
            <li><h3>Ave Boosted</h3><%= Favorite.all.count.to_f / Favorite.count('user_id', distinct: true).to_f %></li>
          </ul>
        </div>
        <div class="adminColumn">
          <h2>
            <%= image_tag("shelterIcon.png", alt: "Shelter") %>
            <%= Shelter.all.count %> Shelters
          </h2>
            <ul>
              <li><h3>Boosted</h3><%= Favorite.count('shelter_id', distinct: true) %> (<%= number_to_percentage(Favorite.count('shelter_id', distinct: true).to_f / Shelter.all.count.to_f * 100, precision: 0) %>)</li>
              <li><h3>Unboosted</h3><%= Shelter.all.count - Favorite.count('shelter_id', distinct: true) %></li>
              <li><h3>Ave Boosters</h3><%= Favorite.all.count.to_f / Favorite.count('user_id', distinct: true).to_f %></li>
              <br>
              <li><h3>Ave Available</h3><%  %></li>
              <li><h3>Ave Adopted</h3><%  %></li>
              <li><h3>Ave Unavailable</h3><%  %></li>
              
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>