<% provide(:title, "Sign In") %>
<div class="container">
  <div class="signinDialog">
    <div class="row">
      <div class="span6 offset3 center">
        <%= image_tag("pleaseSignin.png", alt: "Welcome back! Please sign in.", class: "formHeader") %>
        <br><br>
        <%= simple_form_for(:session, url: sessions_path, html: {class: 'form-horizontal' }) do |f| %>

          <%= f.input :email, label: "Your Email" %>
          <%= f.input :password, label: "Password" %>
          <%= link_to "Forget your password?", new_password_reset_path, class: "forgotPassword" %>
          <%= label_tag :remember_me, "Remember Me", class: "rememberMe" %>
          <%= check_box_tag :remember_me, 1, params[:remember_me], checked: true %>

          <br><br>
          <%= f.submit "Sign In", class: "btn btn-header", style: "width:120px;" %>
        <% end %>
        <br><br><br>
        <div class="center">
          <p style="font-size:13px;">Not yet part of our community? Please <%= link_to "join us".html_safe, join_path %>.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="cornerLogo">
        <%= image_tag("logo_small.png", alt: "Shelter Me") %>
      </div>
    </div>
  </div>
</div>