<div id="addVideo" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-inner">
    <div class="mediaModal">
      <p>Please select a video to upload:</p>
      <%= simple_form_for @pet_video do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.hidden_field :pet_id %>
        <input type="hidden" name="pet_video[panda_video_id]" id="returned_video_id" />
        <div id="upload_progress" class="panda_upload_progress"></div>
        <br>
        <%= f.button :submit, "Upload", class: "formBtn", style: "width:145px;" %>
        <button class="text-close" data-dismiss="modal">Cancel</button>
        <%= link_to "Video hints", help_path, style: "line-height:28px;font-size:12px;" %>
      <% end %>
    </div>

  </div>
</div>

<script>
  <% auth_params = Panda.signed_params('post', "/videos.json") %>
  jQuery("#returned_video_id").pandaUploader(<%=raw auth_params.to_json %>, {
    upload_progress_id: 'upload_progress'
  });

	$(function(){
		$('input:file').addClass('btn-media')
		
		// Hide extra video elements during upload
		$('#new_pet_video :submit').click(function(){
			$('.mediaModal .text-close, .mediaModal a').hide();
		});
	});
</script>