<div id="addVideo" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-inner mediaModal">
    <div class="pageHeader">
      <div class="headerLogo">
        <%= image_tag("videoIcon.png", alt: "Add Video") %>
      </div>
      <div class="headerInfo" style="width:385px;">
        <h1>Add a Video of <%= @pet.name != "" ? @pet.name.titleize : @pet.animal_code %></h1><br>
				<p></p>
      </div>
	    <button class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="form">
      <p>Horizontal videos work best. Limited to 100 MB. See <%= link_to "tips for great videos", faq_path(anchor: "videoTips"), style: "line-height:28px;font-size:12px;", target: "_blank" %>.</p>
      <div class="handhold" style="display:none;text-align:center;margin-bottom:20px;">
        This page will refresh once your upload is complete. Do not close the browser window.
      </div>
      <%= simple_form_for @pet_video do |f| %>
       <%= render 'shared/error_messages', object: f.object %>
       <%= f.hidden_field :pet_id %>
       <%= f.hidden_field :user_id, value: current_user.id %>
			<div id="file-drop" class="row filedrop">
			  <span class="btn formBtn fileinput-button" style="width:145px;margin-left:-5px;">
	        <span>Choose Video</span>
	        <input type="hidden" name="pet_video[panda_video_id]" id="returned_video_id" />
	       </span>		
         <%= image_tag("horiziPhone.png", class: "horiz")%>
         <p>Or drop file here</p>
         <%= f.button :submit, "Upload", class: "formBtn" %>
       </div>
       <div id="upload_progress" class="panda_upload_progress"></div>
     <% end %>
    </div>
  </div>
</div>

<script>
  <% auth_params = Panda.signed_params('post', "/videos.json") %>
  jQuery("#returned_video_id").pandaUploader(<%=raw auth_params.to_json %>, {
    upload_progress_id: 'upload_progress'
  });

  $(function(){

		// Show selected video name
		$('input[type=file]').change(function(){
			var new_label = escape($('input[type=file]').val()).replace('C%3A%5Cfakepath%5C','');
			$('.mediaModal .headerInfo p').text(new_label);			
			if (this.files[0].size > 100000000) {
				$('.mediaModal input[type="submit"]').prop('disabled', true);
				alert("Video is too large - must be less than 100 MB.")
			} else {
				$('#new_pet_video :submit').click();
			};
		});
    
    // Hide extra video elements during upload
    $('#new_pet_video :submit').click(function(){
      $('.mediaModal .text-close, .form p, .filedrop, button.close').hide();
      $('.mediaModal .handhold').show();
    });
    
    // Reformat progress indicator
    $('#upload_progress').css({'width':'100%','margin-bottom':'15px','margin-top':'6px'});
  });
</script>