<div class="row">
  <div class="leftHalf">
    <%= image_tag("withMobileApp.png", class: "formHeader")%>
    <p>Use the ShelterMe mobile app to create or augment pet profiles.</p>
    <p>Coming soon for both iOS and Android.</p>
    <br><br>
    <div class="sideImage">
      <%= link_to image_tag("apple64.png"), "#" %>
    </div>
    <div class="sideImage">
      <%= link_to image_tag("android64.png"), "#" %>
    </div>
  </div>
  <div class="centerOr">
    <%= image_tag("centerOr.png") %>
  </div>
  <div class="rightHalf">
    <%= image_tag("onOurSite.png", class: "formHeader")%>
    <p>To add a pet to ShelterMe, please enter the ID from its shelter cage card into the search field above.</p>
    <p>You can create a profile for the pet if it does not already have one.</p>
    <p>If the pet has a profile, please add to it by contributing your thoughts, photos, and videos.</p>
    <%= image_tag("logo_small.png", alt: "Shelter Me", class: "logoLR") %>
  </div>
</div>