<div class="addMedia noPrint">
  <p>Please contribute your photos and videos of <%= @pet.name != "" ? @pet.name : @pet.animal_code %></p>
  <div class="mediaButtons">
    <% if signed_in? %>
    <%= button_to('      Add Photo', addphoto_path, remote: true, class: "btn", id: "photoClick") %>
    <%= button_to('     Add Video', addvideo_path, remote: true, class: "btn", id: "videoClick") %>
    <% else %>
    <%= button_to('      Add Photo', join_path, class: "btn", id: "photoClick") %>
    <%= button_to('     Add Video', join_path, class: "btn", id: "videoClick") %>
    <% end %>
  </div>
	<div id="tabletAlert" style="display:none;">
		<p>Sorry, but you cannot add photos or videos from a mobile device</p>
	</div>
</div>
<div id="modalTarget"></div>