<div class="addMedia">
  <div class="mediaButtons">
    <p>Please contribute your photos and videos of <%= @pet.name %></p>
    <% if signed_in? %>
    <%= button_to('Add Photo', addphoto_path, remote: true, class: "btn", id: "photoClick") %>
    <%= button_to('Add Video', "#", remote: true, class: "btn") %>
    <% else %>
    <%= button_to('Add Photo', signin_path, class: "btn") %>
    <%= button_to('Add Video', signin_path, class: "btn") %>
    <% end %>
  </div>
</div>
<div id="modalTarget"></div>