<div class="comments">
  <h3><%= image_tag("followingMe.png", alt: "Following Me", class: "noPrint") %><span class="print">Following Me</span></h3>
  <span class="commentCount"><%= @pet.watchers.size %></span>
  <div class="clearfix"></div>
  <span>
  <% if @pet.watchers.size > 0 %>
    <% @pet.watchers.sample(3).each_with_index do |w, i| %>
    <%= link_to "#{(i != 2 && @pet.watchers.size > i + 1) ? w.name + "," : w.name}", w %>
    <%= (i == 2 && @pet.watchers.size > 3) ? "and #{@pet.watchers.size - 3} more." : "" %>
    <% end %>
  <% end %>
  </span>
  <hr>
  <% if @feed_items.any? %>
  <h3><%= image_tag("comments.png", alt: "Comments") %></h3>
  <% end %>
  <%= render 'shared/feed' %>
  <% if signed_in? && @pet.pet_state.status != 'unavailable' %>
  <div class="commentEntry">
    <h3><%= image_tag("addComment.png", alt: "Add Comment") %></h3>
       <%= render 'shared/micropost_form' %>
  </div>
  <% end %>
</div>