<div class="pet-tile editVideo">
  <div class="tile-photo">
    <% if f.panda_video.status == "fail" %>
    <div class="processing">
      <p>Video upload failed. Please delete this and try uploading the video again.</p>
    </div>
    <% elsif f.thumbnail.status == "success" && f.h264.status == "success" && f.webm.status == "success" %>
    <%= image_tag(f.thumbnail.screenshots.first, title: "Video contributed by #{f.user ? f.user.name : "Shelter Me"}") %>
    <% elsif f.thumbnail.status == "fail" or f.h264.status == "fail" or f.webm.status == "fail" %>
    <div class="processing">
      <p><%= f.thumbnail.status == "fail" ? "Thumbnail" : ( f.h264.status == "fail" ? "H264 video" : "WebM video" ) %> encoding failed.<br>Please <%= link_to "let us know", contact_path %>.</p>
    </div>
    <% else %>
    <div class="processing">
     <p><%= f.thumbnail.status == "processing" ? "Processing thumbnail..." : ( f.h264.status == "processing" ? "Processing H264 video..." : "Processing WebM video..." ) %><br>
      Please reload the page in a few minutes.</p>
    </div>
    <% end %>
  </div>
  <% if current_user.admin? or @pet.user == current_user or
    (current_user.manager? && current_user.shelter_id == @pet.shelter.id) or
    f.user == current_user %>
	  <% if f.primary? %>
		  <span class="makeDefault" style="padding-top:6px;">Primary</span>
    <% elsif (f.user == current_user || current_user.admin? || current_user.manager?) %>
	    <%= simple_form_for f, html: {class: "makeDefault"} do |fp| %>
	      <%= fp.submit "Make Primary" %>
	    <% end %>
	  <% end %>
	  <%= form_for f, html: {multipart: true} do |p| %>
	    <%= link_to "Delete", f, method: :delete, class: "deleteMedia", confirm: "Are you certain you want to delete this video of #{@pet.name != '' ? @pet.name : @pet.animal_code}?" %>
	  <% end %>
  <% end %>
</div>