<div class="headerButtons">
	<% if @pet.pet_state.status == 'adopted' %>
    <%= image_tag("adoptedIcon.png", style: "float:right;margin-top:-4px;margin-left:10px;") %>
  <% elsif @pet.pet_state.status == 'unavailable' %>
    <%= image_tag("unavailableIcon.png", style: "float:right;margin-top:0;margin-left:10px;") %>
  <% end %>
  <div class="headerEdit">
    <% if signed_in? and (current_user.admin? or @pet.user == current_user or
      (current_user.manager? && current_user.shelter_id == @pet.shelter.id) or
			(@pet.pet_photos.find{|p| p.user == current_user }) or 
			(@pet.pet_videos.find{|p| p.user == current_user }) )  %>
      <%= link_to("Edit pet", edit_shelter_pet_path(@pet.shelter, @pet), class: "btn btn-header btn-warning btn-admin") %>
    <% end %>
  </div>
  <% if signed_in? and @pet.pet_state.status == 'available' %>
  <div class="button">
    <span id="watch_form">
      <% if current_user.watching?(@pet) %>
        <%= render 'unwatch' %>
      <% else %>
        <%= render 'watch' %>
      <% end %>
    </span>
  </div>	
  <% end %>
  <% if @pet.pet_state.status == 'available' %>
  <div class="button">
    <a class="btn btn-header" data-toggle="modal" href="#visitMe" data-backdrop="static" data-keyboard="false" >Visit Me</a>
  </div>
  <% end %>
</div>

<div id="visitMe" class="modal hide">
  <div class="modal-inner">
    <div class="pageHeader">
    	<div class="headerLogo">
			  <%= image_tag("shelterIcon.png", alt: "Visit #{ @pet.name }") %>
			</div>
	    <div class="headerInfo" style="width:385px;">
        <h1>Vist <%= @pet.name %></h1>
      </div>
      <button class="close" data-dismiss="modal"><i class="icon-remove" style="margin-top:5px;"></i></button>
    </div>
    <div class="modal-body">
      <ul>
        <%= render 'visit_one' %>
        <%= render 'visit_two' %>
        <%= render 'visit_three' %>
      </ul>
      <%= render 'visit_map' %>
    </div>
  </div>
</div>