<div class="headerButtons">
  <div class="headerEdit">
    <% if signed_in? and (current_user.admin? or @pet.user == current_user or
      (current_user.manager? && current_user.shelter_id == @pet.shelter.id) or
      (@pet.pet_photos.find{|p| p.user == current_user }) or 
      (@pet.pet_videos.find{|p| p.user == current_user }) )  %>
      <%= link_to("Edit pet", edit_shelter_pet_path(@pet.shelter, @pet), class: "btn btn-header btn-warning btn-admin") %>
    <% end %>
    <% if signed_in? and @pet.pet_state.status == 'available' %>
      <%= link_to "Pet not at shelter?", "#", style: "line-height:26px;", id: "absentPet", rel: "tooltip", title: "Click to report a missing pet" %>
      <div class="hidden">
        <%= simple_form_for @pet do |p| %>
          <%= p.hidden_field :pet_state_id, value: '4' %>
          <%= p.button :submit, "Save", class: "hidden", id: "submitAbsentPet" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if signed_in? and (@pet.pet_state.status == 'available' || @pet.pet_state.status == 'absent') %>
  <div class="button">
    <span id="watch_form">
      <% if current_user.watching?(@pet) %>
        <%= render 'unwatch' %>
      <% else %>
        <%= render 'watch' %>
      <% end %>
    </span>
  </div>  
  <% end %>
  <% if @pet.pet_state.status == 'available' || @pet.pet_state.status == 'absent' %>
  <div class="button">
    <a class="btn btn-header" data-toggle="modal" href="#visitMe" data-backdrop="static" data-keyboard="false" >Visit Me</a>
  </div>
  <% end %>
</div>
<div class="printLogo">
	<%= image_tag("logo_print.png", alt: "ShelterMe", width: "128", height: "65") %>
	<span>ShelterMe.com</span>
</div>

<div id="visitMe" class="modal hide">
  <div class="modal-inner">
    <div class="pageHeader">
      <div class="headerLogo">
        <%= image_tag("shelterIcon.png", alt: "Visit #{ @pet.name != "" ? @pet.name.titleize : @pet.animal_code }", width: "64", height: "63") %>
      </div>
      <div class="headerInfo" style="width:385px;">
        <h1>Visit <%= @pet.name != "" ? @pet.name.titleize : @pet.animal_code %></h1>
      </div>
      <div class="headerButtons">
        <a class="close" data-dismiss="modal" style="background-color:none;"><i class="icon-remove" style="margin-top:5px;"></i></a>
        <div class="clearfix"></div>
        <div class="socialItem noPrint" style="width:auto;float:right;margin-top:20px;">
          <a class="btn btn-mini btn-print" style="text-indent:0" href="JavaScript:printModal();"><i class="icon-print"></i> Print</a>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <ul>
        <%= render 'visit' %>
      </ul>
      <%= render 'visit_map' %>
    </div>
  </div>
</div>

<script>

function printModal()
{
var DocumentContainer = document.getElementById("visitMe");
var html = '<html><head>'+
               '<link href="/assets/application.css" rel="stylesheet" type="text/css" />'+
               '<style>.modal-body{max-height:none;overflow:hidden;}.socialItem,.close{display:none;}</style>'+
               '</head><body style="background:#ffffff;margin:0;top:0;left:0;border:0;line-height:18px;" class="modal">'+
               DocumentContainer.innerHTML+
               '</body></html>';

    var WindowObject = window.open("", "PrintWindow",
    "width=560,height=525,top=0,left=0,toolbars=no,scrollbars=yes,status=no,resizable=no");
    WindowObject.document.writeln(html);
    WindowObject.document.close();
    WindowObject.focus();
    setTimeout(function() { callPrint(WindowObject);  }, 1000);  
}

function callPrint(item) {
  item.print();
  item.close();
}

</script>