<div class="petLegend">
  <ul>
    <li><%= render 'pets/icons/ageGender' %></li>
    <li><%= render 'pets/icons/sizeWeight' %></li>
    <li><%= render 'pets/icons/coat' %></li>
    <li><%= render 'pets/icons/energy' %></li>
    <li><%= render 'pets/icons/nature' %></li>
    <li><%= render 'pets/icons/affection' %></li>
  </ul>
</div>
<div class="clearfix"></div>