<div class="row">
  <div class="leftHalf">
    <%= image_tag("withMobileApp.png", class: "formHeader")%>
    <p>Use the ShelterMe mobile app to create a new profile or add to an existing pet profile.</p>
    <p>Coming soon for both iOS and Android.</p>
    <br><br>
    <div class="sideImage">
      <%= image_tag("apple64.png") %>
    </div>
    <div class="sideImage">
      <%= image_tag("android64.png") %>
    </div>
  </div>
  <div class="centerOr">
    <%= image_tag("centerOr.png") %>
  </div>
  <div class="rightHalf">
    <%= image_tag("onOurSite.png", class: "formHeader")%>
    <p>To add a pet to ShelterMe, please enter the animal ID from its shelter cage card into the search field above and click the ADD button. The ID will typically look something like "A1234567."</p>
    <p>Pets must have a unique ID at their shelter, so first we check the ID you enter against the pets already in our database. If there is no match, you can then create a profile for the pet.</p>
    <p>If there is a match for the ID you entered, that means a pet with that ID already has a profile. If that pet is at your shelter, you can still help by contributing your photos, videos and comments. If, however, the pet is not at your local shelter, you may create a profile for your pet.</p>
    <%= image_tag("logo_small.png", alt: "Shelter Me", class: "logoLR") %>
  </div>
</div>