<div class="headerInfo">
  <h1><%= @pet.name != "" ? @pet.name.titleize + " (#{@pet.animal_code})" : @pet.animal_code %>
    <% if @pet.pet_state.status == 'adopted' %>
      has been adopted!
    <% elsif @pet.pet_state.status == 'absent' %>
     may not be available
    <% elsif @pet.pet_state.status == 'unavailable' %>
     is no longer available
    <% elsif @pet.pet_state.status == 'fostered' %>
     is being fostered
    <% elsif @pet.pet_state.status == 'rescued' %>
     is with a rescue
    <% end %></h1><br>
  <p>
    <span class="breed">
      <% if @pet.secondary_breed == nil %>
        <%= @pet.primary_breed.name %>
      <% else %>
        <%= @pet.primary_breed.name %> / <%= @pet.secondary_breed.name %>
      <% end %>
    </span>
  </p><br>
  <% if @pet.pet_state.status == "fostered" || @pet.pet_state.status == "rescued" %>
    <% if @pet.refuge_name.present? || @pet.refuge_person.present? %>
    <p>
      <% if @pet.pet_state.status == "fostered" %>
	  <%= @pet.refuge_name.present? ? "at: " : "by: " %>
	  <% else %>
      <%= @pet.refuge_name.present? ? "at: " : "with: " %>
	  <% end %>
	  <a data-toggle="modal" href="#visitMe" class="noPrint"><%= @pet.refuge_name != "" ? @pet.refuge_name : @pet.refuge_person %></a>
	  <span class="printText"><%= @pet.refuge_name != "" ? @pet.refuge_name : @pet.refuge_person %></span>
    </p><br>
	<p>
	  <span class="printText"><%= @pet.refuge_email %>  <%= @pet.refuge_phone %></span>
	</p>
	<% end %>
  <% else %>
  <p><%= link_to @pet.shelter.name, @pet.shelter, class: "noPrint" %>
	<span class="printText"><%= @pet.shelter.name %></span></p><br>
	<p><span class="printText"><%= @pet.shelter.street %>, <%= @pet.shelter.city %>, <%= @pet.shelter.state %> <%= @pet.shelter.zipcode %></span>
	</p>
	<% end %>
</div>