<div id="photoFader" class="fader <%= @pet.pet_photos.size == 0 and @pet.user == current_user ? 'noPhoto' : '' %>">
  <div class="fader-inner">
    <% @pet.pet_photos.sort_by {|p| p.primary ? 0:1 }.each_with_index do |m, i| %>
		  <% cloudinary_url = m.image_url.to_s.gsub!(/upload/,"upload/a_exif,c_fill,g_faces,h_394,r_10,w_592/g_south_east,l_watermark_semq96,x_10,y_5")%>
      <% if i == 0 %>
        <%= image_tag(cloudinary_url, class: "active", title: "Photo contributed by #{m.user ? m.user.name : "Shelter Me"}") %>
      <% else %>
        <%= image_tag(cloudinary_url, title: "Photo contributed by #{m.user ? m.user.name : "Shelter Me"}") %>
      <% end %>
    <% end %>
  </div>
  <% if @pet.pet_state.status == 'available' || @pet.pet_state.status == 'absent' %>
  <div class="corner noPrint <%= @pet.created_at < 2.weeks.ago ? 'veteran' : ( @pet.created_at < 1.week.ago ? 'middle' : 'new' ) %>Addition">
		<%= link_to "", "#", rel: "tooltip", title: "#{@pet.created_at < 2.weeks.ago ? 'Added more than two weeks ago' : ( @pet.created_at < 1.week.ago ? 'Added less than two weeks ago' : 'Newly added' )}" %>
	</div>
  <% end %>
  <% if @pet.pet_state.status == 'adopted' %>
    <%= image_tag("adoptedBigIcon.png", class: "overlay noPrint", title: "Adopted") %>
  <% elsif @pet.pet_state.status == 'absent' %>
    <%= image_tag("absentIcon.png", class: "overlay noPrint", title: "Absent") %>
  <% elsif @pet.pet_state.status == 'unavailable' %>
    <%= image_tag("unavailableIcon.png", class: "overlay noPrint", title: "Unavailable") %>
  <% end %>
  <% if @pet.pet_photos.size > 1 %> 
  <a class="fader-control" href="#prev">&lsaquo;</a>
  <a class="next fader-control" href="#next">&rsaquo;</a>
  <% end %>
</div>