<div class="sponsor">
  <h3 class="profileText mySponsorText noPrint"></h3>
  <h3>
	  <span class="print" style="float:left;margin-top:8px;">My Sponsor</span>
  </h3>
  <div class="print clearfix"><br></div>
  <% if @pet.user %>
    <%= link_to avatar_for(@pet.user), @pet.user, class: "noPrint" %>
    <p>
    <% if @pet.user == current_user %>
    <%= link_to "You", @pet.user, class: "noPrint" %>
    <span class="action noPrint"><%= ["make a difference", "have really helped", "have a big heart", "are a compassionate soul", "do what you say", "find a way"][Random.rand(0..5)] %></span>
    <span class="printText"><%= @pet.user.name %></span>
    <% else %>
    <%= link_to @pet.user.name, @pet.user, class: "noPrint" %>
    <span class="printText"><%= @pet.user.name %></span>
    <% end %>
    <br>
    <span class="added noPrint"><%= time_ago_in_words(@pet.created_at) %> ago</span>
    <span class="added print"><%= @pet.created_at.to_date.strftime("%B %d, %Y") %></span>
    </p>
  <% elsif @pet.pet_state.status == "adopted" %>
    <p>I've got my own human.</p>
  <% else %>
    <p>I'm an orphan.</p>
  <% end %>
</div>