<div id="videoDisplay">
  <div class="innerVideo">
    <% @pet.pet_videos.sort_by {|p| p.primary ? 0:1 }.each_with_index do |m, i| %>
      <% if m.panda_video.encodings["thumbnail"].status == "success" && m.h264.status == "success" && m.webm.status == "success" %>
        <video id="movie<%= i %>" width="592" height="333" class="video-js vjs-default-skin<%= i == 0 ? " active" : ''%>" 
          preload="auto" data-setup='{"example_option":true}' title="Video contributed by <%= m.user ? m.user.name : "Shelter Me" %>"
          poster="<%= m.thumbnail.screenshots.first %>" controls>
          <source src="<%= m.h264.url %>" type="video/mp4">
          <source src="<%= m.webm.url %>" type="video/webm">
        </video>
      <% elsif m.panda_video.encodings["thumbnail"].status == "processing" or m.h264.status == "processing" or m.webm.status == "processing" %>
		    <div class="processing">
		     <p><%= m.panda_video.encodings["thumbnail"].status == "processing" ? "Processing thumbnail..." : ( m.h264.status == "processing" ? "Processing H264 video..." : "Processing WebM video..." ) %><br>
		      Please reload the page in a few minutes.</p>
		    </div>
		    <% end %>
    <% end %>
  </div>
  <% if @pet.pet_videos.size > 1 %>
  <div class="outerVideo">
    <ol>
    <% @pet.pet_videos.sort_by {|p| p.primary ? 0:1 }.each_with_index do |m, i| %>
      <li class="thumb<%= i == 0 ? " selected" : ''%>">
        <% if m.thumbnail.status == "success" && m.h264.status == "success" && m.webm.status == "success" %>
        <%= link_to image_tag(m.thumbnail.screenshots.first), "#", id: "thumb#{i}" %>
        <% elsif m.thumbnail.status == "processing" or m.h264.status == "processing" or m.webm.status == "processing" %>
          <div class="waiting">
            <p>Not ready just yet...</p>
          </div>
        <% end %>
      </li>
    <% end %>
    </ol>
    <div class="left slide-mask"></div>
    <div class="right slide-mask"></div>
    <a class="left slide-control" href="#">&lsaquo;</a>
    <% if @pet.pet_videos.count > 4 %>
    <a class="right slide-control" href="#">&rsaquo;</a>
    <% end %>
  </div>
  <% end %>
</div>