<div id="videoDisplay">
  <div class="innerVideo">
    <% @pet.pet_videos.sort_by {|p| p.primary ? 0:1 }.each_with_index do |m, i| %>
      <% if m.panda_video.status == "success" %>
			  <video id="movie<%= i %>" width="592" height="333" class="video-js vjs-default-skin<%= i == 0 ? " active" : ''%>" 
				  preload="none" data-setup='{"example_option":true}' title="Video contributed by <%= m.user ? m.user.name : "Shelter Me" %>"
			    poster="<%= m.panda_video.encodings["h264"].screenshots.first %>" controls>
			    <source src="<%= m.panda_video.encodings["h264"].url %>" type="video/mp4">
				  <source src="<%= m.panda_video.encodings["ogg"].url %>" type="video/ogg">
			  </video>
			<% elsif m.panda_video.status != "fail" %>
			  <div class="processing">
			  	<p>We are still processing this video...please check back in a bit.</p>
			  </div>
			<% end %>
    <% end %>
  </div>
  <% if @pet.pet_videos.size > 1 %>
	<div class="outerVideo">
		<ol>
		<% @pet.pet_videos.sort_by {|p| p.primary ? 0:1 }.each_with_index do |m, i| %>
		  <li class="thumb<%= i == 0 ? " selected" : ''%>">
			  <% if m.panda_video.status == "success" && m.panda_video.encodings["h264"].screenshots.first %>
			  <%= link_to image_tag(m.panda_video.encodings["h264"].screenshots.first), "#", id: "thumb#{i}" %>
			  <% elsif m.panda_video.status != "fail" %>
				  <div class="waiting">
				  	<p>Not ready just yet...</p>
				  </div>
				<% end %>
			</li>
		<% end %>
		</ol>
		<div class="left slide-mask"></div>
		<div class="right slide-mask"></div>
		<a class="left slide-control" href="#">&lsaquo;</a>
		<% if @pet.pet_videos.count > 4 %>
	  <a class="right slide-control" href="#">&rsaquo;</a>
	  <% end %>
	</div>
  <% end %>
</div>