<div class="modalMap">
  <a href="https://maps.google.com/maps?q=<%=@pet.shelter.street.gsub(/ /,'+')%>+<%=@pet.shelter.city.gsub(/ /,'+')%>+<%=@pet.shelter.state%>" target="_blank">
  <img src="http://maps.googleapis.com/maps/api/staticmap?size=540x162&markers=icon:http://www.scimantics.com/shelterme/mapIcon.png|shadow:false%7Clabel:A%7C<%=@pet.shelter.street.gsub(/ /,'+')%>,<%=@pet.shelter.city.gsub(/ /,'+')%>,<%=@pet.shelter.state%>&zoom=13&&sensor=false&key=AIzaSyBhRhKDSxCbsS-gmm9KT6O6n_Zy6JjS8_g">
  </a>
</div>