<% provide(:title, "Add Pet") %> 
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="largeIcon addIcon"></div>
      <div class="headerInfo" style="width:385px;">
        <h1>Create a Pet Profile</h1><br>
      </div>
      <div class="searchButton" id="addPet">
        <%= form_tag addpet_path, method: 'get' do %>
          <%= label_tag :search, "Enter Animal ID" %>
          <%= text_field_tag :search, params[:search], class: "smallField" %>
          <%= submit_tag "Add", :animal_code => nil, class: "btn btn-header", style: "width: 70px;", confirm: "" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div id="results">
        <div class="potentialMatch">
          <h3><%= image_tag("matchFound.png", class: "formHeader", height: "30", width: "376")%></h3>
          <p>There <%= @pets.count == 1 ? "is a pet with an Animal ID" : "are pets with Animal IDs" %> similar to <%= params[:search] %> already in our database.</p>
          <p>If the pet you are trying to add is shown below, please select it and add to its profile.</p>
        </div>
        <div id="potentialMatch" class="petResults" style="min-height:320px;float:none;">
          <%= render partial: "shared/pet_tile", collection: @pets, as: :f %>
        </div>
        <div class="clearfix"></div>
        <div class="potentialMatch">
          <p>Otherwise, you may add your pet to the shelters without an exactly matching animal ID.
          <%= link_to "ADD PET", newpet_path, class: "btn btn-header" %>
          </p>
        </div>
      </div>
    </div>
  </div>  
</div>