<% provide(:title, "Add Pet") %> 
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="headerLogo">
        <%= image_tag("addIcon.png", alt: "Add Pet") %>
      </div>
      <div class="headerInfo" style="width:385px;">
        <h1>Create a Pet Profile</h1><br>
      </div>
      <div class="searchButton" id="addPet">
        <%= form_tag addpet_path, method: 'get' do %>
	        <%= label_tag :search, "Enter Animal ID" %>
          <%= text_field_tag :search, params[:search], class: "smallField", style: "width: " %>
          <%= submit_tag "Add", :animal_code => nil, class: "btn btn-header", style: "width: 70px;", confirm: "", disabled: true %>
        <% end %>
      </div>
    </div>
    <div class="row">
	    <div id="results">
		    <div class="potentialMatch">
		      <h3><%= image_tag("matchFound.png", class: "formHeader")%></h3>
			    <p>There <%= @pets.count == 1 ? "is a pet" : "are pets" %> with the Animal ID <%= params[:search] %> already in our database</p>
			    <p>If the pet you are trying to add is shown below, please select it<br>
				 and contribute your thoughts, photos, and videos to its profile.</p>
		    </div>
		    <div id="potentialMatch" class="petResults" style="min-height:320px;float:none;">
	        <%= render partial: "shared/pet_tile", collection: @pets, as: :f %>
		    </div>
		    <div class="clearfix"></div>
				<div class="potentialMatch" style="margin-top: 30px;">
					<p>If your pet is not shown above, you may now add it to ShelterMe.</p>
					<p>You will not be able to add it to
					<% if @pets.count == 1 %>
					the shelter housing the pet
					<% else %>
					any of the shelters housing the pets
					<% end %>
					 shown above.</p>
					<%= link_to "ADD PET", newpet_path, class: "btn btn-header", style:"margin-top:20px;margin-bottom:20px;" %>
				</div>
	    </div>
    </div>
  </div>  
</div>