<% provide(:title, "Add Pet") %> 
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="largeIcon addIcon"></div>
      <div class="headerInfo" style="width:385px;">
        <h1>Create a Pet Profile</h1><br>
      </div>
      <div class="searchButton" id="addPet">
        <%= form_tag addpet_path, method: 'get' do %>
          <%= label_tag :search, "Enter Animal ID" %>
          <%= text_field_tag :search, params[:search], class: "smallField" %>
          <%= submit_tag "Add", :animal_code => nil, class: "btn btn-header", style: "width: 70px;", confirm: "" %>
        <% end %>
      </div>
	  <div class="searchButton" id="tabletAlert" style="display:none;">
		<p>Sorry, but you cannot add a pet from a mobile device</p>
	  </div>
    </div>
    <div id="addContent" class="addContent">
      <%= render 'add_initial' %>
    </div>
  </div>  
</div>