<% provide(:title, "Edit #{@pet.name}") %> 
<div class="container content">
  <div class="form-section">
    <div class="pageHeader pageFormHeader">
      <div class="headerLogo">
        <%= image_tag("editIcon.png", alt: "Edit Pet") %>
      </div>
      <div class="headerInfo">
        <h1>Edit <%= @pet.name != '' ? @pet.name : @pet.animal_code %></h1><br>
      </div>
      <% if current_user.admin? %>
      <div class="headerButtons" style="right:10px;">
        <div class="headerEdit">
          <%= link_to "Delete pet", @pet, method: :delete, confirm: "Are you certain you want to delete #{@pet.name != '' ? @pet.name : @pet.animal_code}?", class: "btn btn-header btn-warning btn-admin" %>
        </div>
      </div>
      <% end %>
    </div>
    <ul class="nav nav-tabs darkNav">
      <% if current_user.admin? or @pet.user == current_user or
        (current_user.manager? && current_user.shelter_id == @pet.shelter.id) %>
      <li><a href="#data" data-toggle="tab">Info</a></li>
      <% end %>
      <li><a href="#photos" data-toggle="tab">Photos</a></li>
      <li><a href="#videos" data-toggle="tab">Videos</a></li>
    </ul>
    <div class="fullEditForm">
      <div class="tab-content">
        <div class="tab-pane" id="data">
          <%= render "edit_data" %>
        </div>
        <div class="tab-pane" id="photos">
          <div id="editPhotos">
            <%= render partial: "edit_photos", 
                collection: @pet.pet_photos.sort{|a,b| (a.primary == b.primary) ? ((a.id < b.id) ? -1 : 1) : (a.primary ? -1 : 1)}, 
                as: :f %>
          </div>
          <div class="clearfix"></div>
          <hr>
          <%= link_to("Back to pet profile", [@pet.shelter, @pet], style: "float:right;")%>
          <p style="font-size:13px;color:#853a18;">You may only delete photos that you have uploaded.<p>
        </div>
        <div class="tab-pane" id="videos">
          <div id="editVideos">
            <% if @pet.pet_videos.count == 0 %>
              <p style="font-size:13px;">There are no videos for <%= @pet.name != '' ? @pet.name : @pet.animal_code %>.</p>
            <% else %>
            <%= render partial: "edit_videos", 
                collection: @pet.pet_videos.sort{|a,b| (a.primary == b.primary) ? ((a.id < b.id) ? -1 : 1) : (a.primary ? -1 : 1)}, 
                as: :f %>  
            <% end %>
          </div>
          <div class="clearfix"></div>
          <hr>
          <%= link_to("Back to pet profile", [@pet.shelter, @pet], style: "float:right;")%>
          <p style="font-size:13px;color:#853a18;">You may only delete videos that you have uploaded.<p>
        </div>
      </div>
    </div>
  </div>  
</div>
