<% provide(:title, @pet.name != "" ? @pet.name : @pet.animal_code) %>
<div class="container content">
  <div class="profile-section <%= @pet.pet_state.status %>">
    <div class="pageHeader">
      <%= render "shared/header_logo" %>
      <%= render "pet_info" %>
      <%= render "header_buttons" %>
    </div>
    <div class="row">
      <div class="span8">
        <%= render "photos" %>
        <%= render "legend" %>
        <% unless @pet.pet_state.status == "unavailable"%>
        <%= render "add_media" %>
        <% end %>
        <% if @pet.pet_videos.size > 0 %>
        <%= render "videos" %>
        <% end %>
      </div>
      <div class="rightColumn">
        <%= render "description" %>
        <%= render "sponsor" %>
        <%= render "social" %>
        <%= render "comments" %>
      </div>
    </div>
  </div>
</div>