<% provide(:title, @pet.name) %>
<div class="container content">
  <div class="profile-section <%= @pet.pet_state.status %>">
    <div class="pageHeader">
      <%= render "shared/header_logo" %>
      <%= render "pet_info" %>
      <%= render "header_buttons" %>
    </div>
    <div class="row">
      <div class="span8">
        <%= render "photos" %>
        <%= render "legend" %>
        <%= render "add_media" %>
        <%= render "videos" %>
      </div>
      <div class="rightColumn">
        <%= render "description" %>
        <%= render "sponsor" %>
        <%= render "social" %>
        <%= render "comments" %>
      </div>
    </div>
  </div>
</div>