<% provide(:title, @pet.name) %>
<div class="container">
	<div class="page-header">
		<h1><%= @pet.name %></h1>
		<%= render "header_buttons" %>
		<p class="lead">Breed/mix at Shelter name</p>
	</div>
	<div class="row">
		<div class="span8">
			<%= render "legend" %>
			<%= render "photos" %>
			<%= render "add_media" %>
			<%= render "videos" %>
		</div>
		<div class="span4">
			<%= render "description" %>
			<%= render "social" %>
			<%= render "comments" %>
		</div>
	</div>
</div>