<div id="addPhoto" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-inner mediaModal">
    <div class="pageHeader">
      <div class="headerLogo">
        <%= image_tag("photoIcon.png", alt: "Add Photo") %>
      </div>
      <div class="headerInfo" style="width:450px;">
        <h1>Add a Photo of <%= @pet.name != "" ? @pet.name.titleize : @pet.animal_code %></h1><br>
				<p><span class="file-name"></span></p>
      </div>
	    <button class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="form">
	    <p>
		  <% if @pet.pet_photos.size == 0 %>
		  <span style="color:#d54509;font-weight:bold;">
		  <%= @pet.name != "" ? @pet.name.titleize : @pet.animal_code %> will not be visible on the site without a photo. Please add one now.</span></p><p>
	    <% end %>
      Horizontal photos work best, as vertical photos will be cropped automatically to fit. Limited to 5000x5000 and 20 MB. See <%= link_to "detailed photo info and tips", faq_path(anchor: "photoTips"), style: "line-height:28px;font-size:12px;", target: "_blank" %>.</p>
      <div class="handhold" style="display:none;text-align:center;margin-bottom:20px;">
        This page will refresh once your upload is complete. Do not close the browser window.
      </div>
			<%= simple_form_for @pet_photo do |f| %>
        <%= f.hidden_field :pet_id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
			  <div class="row filedrop">
          <div>
            <span class="btn formBtn fileinput-button" style="width:145px;margin-left:20px;">
              <span>Choose Photo</span>
              <%= f.cl_image_upload(:image, tags: "#{@pet.slug}") %>
            </span>
            <%= image_tag("horiziPhone.png", class: "horiz")%>
            <p>Or drop file here</p>
            <%= f.button :submit, "Upload" %>
          </div>
        </div>
			<% end %>
			<div id="loadingPhoto" class="hide">
			  <div class="progress progress-striped active">
			  	<div class="bar" style="width: 0%"></div>
			  </div>
			</div>
    </div>
  </div>
</div>

<%= cloudinary_js_config %>
<script src="/assets/jquery.cloudinary.js?body=1" type="text/javascript"></script>
<% if @pet.pet_photos.size == 0 %>
<script>
	window.onbeforeunload = requirePhoto;
	function requirePhoto() 
	{
		return "Please add a photo to complete the profile.";
	}
</script>
<% end %>
<script>	
	$(function(){
		
		// Show progress bar on upload start
		$('.cloudinary-fileupload').bind('fileuploadstart', function() {  
	  	$('#loadingPhoto, .handhold').show();
			$('button.close, .filedrop, .form p').hide();
			$('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data){
				$('.mediaModal .headerInfo p').text(data.files[0].name);
				progress = parseInt(data.loaded / data.total * 100, 10);
				$('.progress .bar').css('width', progress + '%');
			});
		  return true;
		});

		// Show selected photo name and size
		$('.cloudinary-fileupload input[type=file]').change(function(){
			var new_label = escape($('input[type=file]').val()).replace('C%3A%5Cfakepath%5C','');
			$('.mediaModal .headerInfo span.file-name').text("new_label");
		});

		// Reset form if photo upload failure
		$('.cloudinary-fileupload').bind('fail', function() {
			alert("Upload failed.");
	  	$('#loadingPhoto, .handhold').hide();
			$('button.close, .filedrop').show();		
		});

		// Submit uploaded photo info to db when uploaded
		$('#addPhoto .cloudinary-fileupload').bind('fileuploaddone', function() {
			$('.filedrop input[type=submit]').click();
		});
	});
</script>