<div class="editForm">
  <%= simple_form_for(@user, html: {class: 'form-horizontal' }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.input :email %>
    <%= f.input :password, label: "New Password", required: true %>
    <%= f.input :password_confirmation, label: "Re-enter New Password", required: true  %>
    <% f.input :phone, as: :tel, hint: "Optional - used only for Update Me alerts" %>
    <%= f.button :submit, "Save", class: "formBtn", style: "width:145px;", id: "saveUserAccount" %>
    <%= link_to("Back to user profile", @user, style: "float:right;padding-top:4px;")%>
  <% end %>
</div>