<ol class="activity">
  <% @activity.each do |p| %>
    <% if (p[3] == 'Started Following' or p[3] == 'Added') %> <!-- user added & followed pets -->
      <li>
        <div class="innerComment">
          <div class="avatar">
            <% if @user != p[0] %>
            <%= link_to avatar_for(p[0]), p[0] %> 
            <% end %>
          </div>
          <div class="post wide">
            <% if @user != p[0] %>
            <%= link_to p[0].name, p[0] %> 
            <% end %>
            <span class="action"><%= p[3]%></span>
            <%= link_to "#{p[1].name != '' ? p[1].name.titleize : p[1].animal_code}", [p[1].shelter, p[1]] %>
            <span class="action"> at </span>
            <%= link_to p[1].shelter.name, p[1].shelter, class: "shelter" %>
            <% if p[3] == 'Added' %>
            <div class="media smallIcon addIcon"></div>
            <% end %>
            <br>
            <span class="time"><%= time_ago_in_words(p[2]) %></span>
          </div>
        </div> 
      </li>
    <% elsif p[3] == 'watch' %> <!-- watchers of user added/watched pets -->
      <li>
        <div class="innerComment">
          <div class="avatar"><%= link_to avatar_for(p[0]), p[0] %></div>
          <div class="post wide">
            <%= link_to p[0].name, p[0] %>
            <span class="action"> also started following </span>
            <%= link_to "#{p[1].name != '' ? p[1].name.titleize : p[1].animal_code}", [p[1].shelter, p[1]] %>
            <span class="action"> at </span>
            <%= link_to p[1].shelter.name, p[1].shelter, class: "shelter" %>
            <br>
            <span class="time"> <%= time_ago_in_words(p[2]) %></span>
          </div>
        </div>
      </li>
    <% elsif p[3] == "Followed" %> <!-- followed users -->
      <li>
        <div class="innerComment">
          <div class="avatar">
            <% if @user != p[0] %>
            <%= link_to avatar_for(p[0]), p[0] %> 
            <% end %>
          </div>
          <div class="post wide">
            <% if @user != p[0] %>
            <%= link_to p[0].name, p[0] %> 
            <% end %>
            <span class="action"><%= p[3]%></span>
            <%= link_to p[1].name, p[1] %>
            <br>
            <span class="time"><%= time_ago_in_words(p[2]) %></span>
          </div>
        </div>
      </li>
    <% elsif p[3] == "Following" %> <!-- followed by users -->
      <li>
        <div class="innerComment">
          <div class="avatar"><%= link_to avatar_for(p[1]), p[1] %></div>
          <div class="post wide">
            <%= link_to "#{p[1].name != '' ? p[1].name.titleize : p[1].animal_code}", [p[1].shelter, p[1]] %>
            <span class="action">is <%= p[3]%> you</span>
            <br>
            <span class="time"><%= time_ago_in_words(p[2]) %></span>
          </div>
        </div>
      </li>
    <% elsif p[3] == "Favorite" %> <!-- favorited shelters -->
      <li>
        <div class="innerComment">
          <% if @user != p[0]%>
          <div class="avatar"><%= link_to avatar_for(p[0]), p[0] %></div>
          <% end %>
         <div class="post wide"> 
           <% if @user != p[0] %>
           <%= link_to p[0].name, p[0] %> 
           <% end %>
           <span class="action">Selected </span>
           <%= link_to p[1].name, p[1] %>
           <span class="action">as a <%= p[3]%> shelter</span>
           <%= image_tag("shelterIcon.png", class: "icon media", width: "40", height: "40") %>
           <br>
           <span class="time"><%= time_ago_in_words(p[2]) %></span>
         </div>
      </li>
    <% elsif p[3] == 'post' || p[3] == 'post managed' %> <!-- microposts -->
      <li class="<%= p[3] == 'post managed' ? 'managed' : ''%>">
        <div class="innerComment">
          <% if @user != p[0] and !p[0].blank? %>
          <div class="avatar"><%= link_to avatar_for(p[0]), p[0] %></div>
          <% end %>
          <div class="post wide">
            <% if @user != p[0] %>
              <% if p[0].blank? %>
                <span style="font-weight:bold;">Shelter Me</span>
              <% else %>
                <%= link_to p[0].name, p[0] %> 
              <% end %>
            <% end %>
            <span class="action">commented on</span>
            <%= link_to "#{p[1].name != '' ? p[1].name.titleize : p[1].animal_code}", [p[1].shelter, p[1]] %> 
            <span class="time"><%= time_ago_in_words(p[2]) %></span>
            <p><%= p[4] %></p>
          </div>
        </div>
      </li>
    <% elsif p[3] == 'state' and p[4] != 'available' %> <!-- status changes -->
      <li class="<%= p[4] == 'unavailable' ? 'unavailable' : ''%>">
        <div class="innerComment">
          <div class="post wide">
            <%= link_to "#{p[1].name != '' ? p[1].name.titleize : p[1].animal_code}", [p[1].shelter, p[1]] %> 
            <span class="action"><%= p[4] == 'adopted' ? "has been" : "is now" %></span>
            <span class="status"><%= p[4]%></span>
            <div class="media smallIcon <%= p[4] == 'adopted' ? 'adoptedIcon' : (p[4] == 'absent' ? 'absentIcon' : 'unavailableIcon')%>"></div>
            <br>
            <span class="time"> <%= time_ago_in_words(p[2]) %></span>
          </div>
        </div>
      </li>
    <% elsif p[3] == 'Managed' %> <!-- managed pets -->
      <li class="managed">
        <div class="innerComment">
          <% if @user != p[0] %>
          <div class="avatar"><%= link_to avatar_for(p[0]), p[0] %></div>
          <% end %>
          <div class="post wide">
            <% if @user != p[0] %>
            <%= link_to p[0].name, p[0] %> 
            <% end %>
            <span class="action">Added</span>
            <%= link_to "#{p[1].name != '' ? p[1].name.titleize : p[1].animal_code}", [p[1].shelter, p[1]] %>
            <span class="action"> at </span>
            <%= link_to p[1].shelter.name, p[1].shelter, class: "shelter" %>
            <% if p[3] == 'Managed' %>
            <div class="media smallIcon addIcon"></div>
            <% end %>
            <br>
            <span class="time"><%= time_ago_in_words(p[2]) %></span>
          </div>
        </div>
      </li>
    <% elsif p[3] == 'watch managed' %> <!-- watchers of managed pets -->
      <li class="managed">
        <div class="innerComment">
          <% if @user != p[0] %>
          <div class="avatar"><%= link_to avatar_for(p[0]), p[0] %></div>
          <% end %>
          <div class="post wide">
            <% if @user != p[0] %>
            <%= link_to p[0].name, p[0] %> 
            <% end %>
            <span class="action"> started following </span>
            <%= link_to "#{p[1].name != '' ? p[1].name.titleize : p[1].animal_code}", [p[1].shelter, p[1]] %>
            <br>
            <span class="time"> <%= time_ago_in_words(p[2]) %></span>
          </div>
        </div>
      </li>
    <% elsif p[3] == 'photo' || p[3] == 'photo managed' %> <!-- photos added to added/watched pets -->
      <li class="<%= p[3] == 'photo managed' ? 'managed' : ''%>">
        <div class="innerComment">
          <% if @user != p[0] %>
          <div class="avatar"><%= link_to avatar_for(p[0]), p[0] %></div>
          <% end %>
          <div class="post wide">
            <% if @user != p[0] %>
            <%= link_to p[0].name, p[0] %> 
            <% end %>
            <span class="action">Added a photo of</span>
            <%= link_to "#{p[1].name != '' ? p[1].name.titleize : p[1].animal_code}", [p[1].shelter, p[1]] %>
            <%= link_to (image_tag p[4].image_url.to_s.gsub!(/upload/,"upload/t_mini"), class: "media", width: "60", height: "40"), [p[1].shelter, p[1]] %>
            <br>
            <span class="time"><%= time_ago_in_words(p[2]) %></span>
          </div>
        </div>
      </li>
    <% elsif p[3] == 'video' || p[3] == 'video managed' %> <!-- videos added to added/watched pets -->
      <li class="<%= p[3] == 'video managed' ? 'managed' : ''%>">
        <div class="innerComment">
          <% if @user != p[0] %>
          <div class="avatar"><%= link_to avatar_for(p[0]), p[0] %></div>
          <% end %>
          <div class="post wide">
            <% if @user != p[0] %>
            <%= link_to p[0].name, p[0] %> 
            <% end %>
            <span class="action">Added a video of</span>
            <%= link_to "#{p[1].name != '' ? p[1].name.titleize : p[1].animal_code}", [p[1].shelter, p[1]] %>
            <%= link_to (image_tag p[4].panda_video.encodings["thumbnail"].screenshots.first, class: "media", height: "40"), [p[1].shelter, p[1]] %>
            <br>
            <span class="time"><%= time_ago_in_words(p[2]) %></span>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ol>
