<li>
  <%= link_to avatar_for(f), f, size: 50 %>
  <div class="userInfo">
    <h1><%= link_to f.name, f %></h1><br>
    <p><%= f.location %></p>
  </div>
  <div class="userIcon smallIcon addIcon">
    <%= link_to "", "#", rel: "tooltip", title: pluralize(f.pets.size, "Sponsored Pet") %>
    <p><%= f.pets.size %></p>
  </div>
  <div class="userIcon smallIcon editIcon">
    <%= link_to "", "#", rel: "tooltip", title: pluralize(f.microposts.size, "Comment") + " Added" %>
    <p><%= f.microposts.size %></p>
  </div>
  <div class="userIcon smallIcon matchMeIcon">
    <%= link_to "", "#", rel: "tooltip", title: pluralize(f.watched_pets.size, "Followed Pet") %>
    <p><%= f.watched_pets.size %></p>
  </div>
  <div class="userIcon smallIcon shelterIcon">
    <%= link_to "", "#", rel: "tooltip", title: pluralize(f.favorites.size, "Favorite Shelter") %>
    <p><%= f.favorites.size %></p>
  </div>
  <div class="userIcon smallIcon editProfileIcon">
    <%= link_to "", "#", rel: "tooltip", title: pluralize(f.followed_users.size, "Followed User") %>
    <p><%= f.followed_users.size %></p>
  </div>
  <div class="userIcon smallIcon photoIcon">
    <% photos = PetPhoto.includes(:user).select{|u| u.user == f}.size%>
    <%= link_to "", "#", rel: "tooltip", title: pluralize(photos, "Photo") + " Added" %>
    <p><%= photos %></p>
  </div>
  <div class="userIcon lastUserIcon smallIcon videoIcon">
    <% videos = PetVideo.includes(:user).select{|u| u.user == f}.size %>
    <%= link_to "", "#", rel: "tooltip", title: pluralize(videos, "Video") + " Added" %>
    <p><%= videos %></p>
  </div>
</li>