<li>
  <%= link_to avatar_for(f), f, size: 50 %>
  <div class="userInfo">
    <h1><%= link_to f.name, f %></h1><br>
    <p><%= f.location %></p>
  </div>
  <div class="userIcon">
    <%= link_to image_tag("addIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(f.pets.count, "Sponsored Pet") %><br>
    <p><%= f.pets.count %></p>
  </div>
  <div class="userIcon">
    <%= link_to image_tag("editIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(f.microposts.count, "Comment") + " Added" %><br>
    <p><%= f.microposts.count %></p>
  </div>
  <div class="userIcon">
    <%= link_to image_tag("matchMeIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(f.watched_pets.count, "Followed Pet") %><br>
    <p><%= f.watched_pets.count %></p>
  </div>
  <div class="userIcon">
    <%= link_to image_tag("shelterIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(f.favorites.count, "Favorite Shelter") %><br>
    <p><%= f.favorites.count %></p>
  </div>
  <div class="userIcon">
    <%= link_to image_tag("editProfileIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(f.followed_users.count, "Followed User") %><br>
    <p><%= f.followed_users.count %></p>
  </div>
  <div class="userIcon">
		<% photos = PetPhoto.select{|u| u.user == f}.count%>
    <%= link_to image_tag("photoIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(photos, "Photo") %><br>
    <p><%= photos %></p>
  </div>
  <div class="userIcon lastUserIcon">
	  <% videos = PetVideo.select{|u| u.user == f}.count %>
    <%= link_to image_tag("videoIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(videos, "Video") %><br>
    <p><%= videos %></p>
  </div>
</li>