<li>
  <%= link_to avatar_for(f), f, size: 50 %>
  <div class="userInfo">
    <h1><%= link_to f.name, f %></h1><br>
    <p><%= f.location %></p>
  </div>
  <div class="userIcon">
    <%= link_to image_tag("addIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(f.pets.size, "Sponsored Pet") %><br>
    <p><%= f.pets.size %></p>
  </div>
  <div class="userIcon">
    <%= link_to image_tag("editIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(f.microposts.size, "Comment") + " Added" %><br>
    <p><%= f.microposts.size %></p>
  </div>
  <div class="userIcon">
    <%= link_to image_tag("matchMeIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(f.watched_pets.size, "Followed Pet") %><br>
    <p><%= f.watched_pets.size %></p>
  </div>
  <div class="userIcon">
    <%= link_to image_tag("shelterIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(f.favorites.size, "Favorite Shelter") %><br>
    <p><%= f.favorites.size %></p>
  </div>
  <div class="userIcon">
    <%= link_to image_tag("editProfileIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(f.followed_users.size, "Followed User") %><br>
    <p><%= f.followed_users.size %></p>
  </div>
  <div class="userIcon">
    <% photos = PetPhoto.includes(:user).select{|u| u.user == f}.size%>
    <%= link_to image_tag("photoIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(photos, "Photo") + " Added" %><br>
    <p><%= photos %></p>
  </div>
  <div class="userIcon lastUserIcon">
    <% videos = PetVideo.includes(:user).select{|u| u.user == f}.size %>
    <%= link_to image_tag("videoIcon.png", class: "icon"), "#", rel: "tooltip", title: pluralize(videos, "Video") + " Added" %><br>
    <p><%= videos %></p>
  </div>
</li>