<div class="editForm" style="width:450px;">
  <h3>Shelter Management</h3>
  <br><br>
  <%= simple_form_for(@user, html: {class: 'form-horizontal' }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="control-group string optional">
    <label class="string optional control-label" for="user_shelter_name">Select Shelter</label>
    <div class="controls">
      <%= f.text_field :shelter_name, as: :autocomplete, data: {autocomplete_source: listshelters_path}, style: "width:280px;" %>
      <p class="help-block">Start typing and shelter names will appear</p>
    </div>
  </div>
  <%= f.input :manager, as: :boolean, label: "Manager" %>
  <br>
  <%= f.button :submit, "Save", class: "formBtn", style: "width:145px;", confirm: "This will modify the ability of #{@user.name} to edit this shelter and its pets. Are you certain this is what you want?" %>
  <%= link_to("Back to user profile", @user, style: "float:right;padding-top:4px;")%>
  <% end %>
</div>
<div style="border-left:1px solid white;width:1px;height:500px;float:left;margin-left:20px;margin-right:20px;"></div>
<% if !@user.admin? %>
<div class="editForm" style="width:340px;">
  <h3>System Administration</h3>
  <br><br>
  <%= simple_form_for(@user, html: {class: 'form-horizontal' }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.input :admin, as: :boolean, label: "Admin", style: "width:150px;" %>
  <h2 style="text-align:center;">This cannot be undone</h2>
  <br><br>
  <%= f.button :submit, "Save", class: "formBtn", style: "width:145px;", confirm: "#{@user.name} will have admin access to the entire ShelterMe site. Are you certain this is what you want? " %>
  <%= link_to("Back to user profile", @user, style: "float:right;padding-top:4px;")%>
  <% end %>
</div>
<% end %>