<li class="subAdmin">
  <table class="table-condensed">
    <tr>
      <td class="adminId"><%= f.id %></td>
      <td class="adminAdded"><%= f.created_at.to_date.to_formatted_s(:long) %></td>
      <td class="adminShelter"><%= link_to f.shelter.name, f.shelter %></td>
      <td><%= avatar_for f, size: 20 %> &nbsp;&nbsp; <%= link_to f.name, f %></td>
    </tr>
  </table>
</li>