<div class="userShelters rightColumn">
  <h3 class="profileText favoriteSheltersText"></h3>
  <ul class="shelterList">
	<% if @user.boosted_shelters.blank? %>
    <% @pseudo_boosted.first(3). each do |f|%>
    <li>
      <%= link_to(f.name, f) %><br><%= f.city %>, <%= f.state %>
    </li>
    <% end %>
  <% else %>
    <% @user.boosted_shelters.limit(3). each do |f|%>
    <li>
      <%= link_to(f.name, f) %><br><%= f.city %>, <%= f.state %>
    </li>
    <% end %>
  <% end %>
  </ul>
</div>