<%= provide(:title, 'My Updates') %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="headerLogo">
        <%= image_tag("editIcon.png")%>
      </div>
      <div class="headerInfo">
        <h1>My Updates</h1>
      </div>
    </div>
    <div class="row">
      <div id= "activity" class="fullWidth">
				<%= will_paginate @activity, style: "visibility: hidden;" %>
        <%= render 'activity_feed' %>
				<%= will_paginate @activity, style: "visibility: hidden;" %>
      </div>
    </div>
  </div>
</div>