<% provide(:title, "Edit Profile") %> 
<div class="container content">
  <div class="form-section">
    <div class="pageHeader pageFormHeader">
      <div class="headerLogo">
        <%= image_tag("editProfileIcon.png", alt: "Edit Profile", width: "63", height: "63") %>
      </div>
      <div class="headerInfo">
        <% if @user == current_user %>
        <h1>Edit My Profile</h1><br>
        <% else %>
        <h1>Edit <%= @user.name %>'s Profile</h1><br>
        <% end %>
      </div>
      <% if current_user == @user %>
      <div class="headerButtons" style="right:10px;">
        <div class="headerEdit">
          <%= link_to "Delete account", @user, method: :delete, confirm: "Are you certain you want to delete your account?", class: "btn btn-header btn-warning btn-admin", style: "width:110px;" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="editTabs">
        <ul class="nav nav-tabs" style="border-bottom:1px solid #ddd8d5;">
          <% if current_user == @user %>
          <li class="active">
            <a href="#info" data-toggle="tab">Public Information</a>
          </li>
          <li>
            <a href="#account" data-toggle="tab">Private Information</a>
          </li>
          <% end %>
          <% if current_user.admin? && @user != current_user %>
          <li class="active">
            <a href="#admin" data-toggle="tab">Admin Access</a>
          </li>
          <% end %>
        </ul>
        <div class="possibleScroll">
          <div class="tab-content">
            <div class="tab-pane <%= 'active' if current_user == @user %>" id="info">            
              <%= render 'info' %>
            </div>
            <div class="tab-pane offset2" id="account">
              <%= render 'account' %>
            </div>
            <div class="tab-pane <%= 'active' if current_user != @user && current_user.admin? %>" id="admin">
              <%= render 'permissions' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
