<%= provide(:title, 'My Followed Pets') %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="headerLogo">
        <%= image_tag("dogIcon.png")%>
      </div>
      <div class="headerInfo">
        <h1>My <%= pluralize(@petsCount, 'Followed Pet')  %></h1>
      </div>
    </div>
    <div class="row">
      <div class="span12">
	      <%= will_paginate @pets %>
        <%= render partial: 'shared/pet_tile', collection: @pets, as: :f %>
		    <%= will_paginate @pets %>
      </div>
    </div>
  </div>
</div>