<%= provide(:title, 'All Users') %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <%= render "shared/header_logo" %>
      <div class="headerInfo" style="width:385px;">
        <h1><%= @users.size %> Users</h1>
      </div>
      <div class="searchButton">
        <%= form_tag users_path, :method => 'get', id: "users_search", remote: true do %>
          <%= label_tag :search, "Enter user name" %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <%= text_field_tag :search, params[:search], class: "smallField" %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-header" %>
        <% end %>
      </div>
    </div>
    <div id="users" class="row">
      <%= render 'users' %>
    </div>
  </div>
</div>