<%= provide(:title, 'Join') %>
<div class="container">
  <div class="signinDialog">
    <div class="row center">
      <%= image_tag("createAccount.png", alt: "Please join our community by creating an account", class: "formHeader") %>
    </div>
    <br>
    <div class="row">
      <div class="leftHalf">
        <%= simple_form_for(@user, html: {class: 'form-horizontal' }) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.input :name, label: "Your Name", hint: "Sets your account URL, so choose wisely" %>
          <%= f.input :location, label: "Your Location", hint: "Not required, but helps to find local results" %>
          <%= f.input :email, label: "Your Email", hint: "You'll use this to signin" %>
          <%= f.input :password, required: true, label: "Choose Password", hint: "Must be at least six characters" %>
          <%= f.input :password_confirmation, label: "Re-enter Password" %>
          <%= f.submit "Join", class: "btn btn-header", style: "width:120px;" %>
        <% end %>
      </div>
      <div class="rightHalf">
        <p style="font-size:13px;line-height:18px;">When you join our community, you can make a difference for shelter pets in your area.</p>
        <ul>
          <li>Create pet profiles</li>
          <li>Add photos and videos of shelter pets</li>
          <li>Comment on existing shelter pet profiles</li>
          <li>Get the latest news from pets, shelters and other members</li>
          <li>Create shelter profiles</li>
          <li>Discover your ideal pet</li>
        </ul>
        <br>
        <div class="subtlep">
	        <p>Not all site feature are available unless you join our community. By creating an account on ShelterMe.com, you agree to our <%= link_to "terms of use", terms_path %>.</p>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row center">
      <p style="font-size:13px;">Are you already part of our community? Please <%= link_to "sign in", signin_path %>.</p>
    </div>
    <br>
    <div class="row">
      <div class="cornerLogo">
        <%= image_tag("logo_small.png", alt: "Shelter Me") %>
      </div>
    </div>
  </div>
</div>
