<%= provide(:title, 'My Photos') %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="headerLogo">
        <%= image_tag("photoIcon.png", width: "65", height: "63")%>
      </div>
      <div class="headerInfo">
        <h1>
          <%= @photos.count == 0 ? "No Photos" : "My #{pluralize(@photos.count, 'Photo')}" %>
        </h1>
      </div>
    </div>
    <div id="pet_photos" class="row">
      <%= render partial: "photo", collection: @photos.reverse, as: :f %>
      <div class="clearfix"></div>
      <%= will_paginate @photos %>
    </div>
  </div>
</div>