<% provide(:title, @user.name) %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <%= render "shared/header_logo" %>
      <%= render "user_info" %>
      <%= render "header_buttons" %>
    </div>
    <div class="row">
      <%= render "user_details" %>
      <%= render "user_shelters" %>
    </div>
  </div>  
  <div class="row">
    <%= render "user_pets" %>
    <%= render "user_comments" %>
  </div>
</div>
