<%= provide(:title, 'My Videos') %>
<div class="container content">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="headerLogo">
        <%= image_tag("videoIcon.png")%>
      </div>
      <div class="headerInfo">
        <h1>
          <%= @videos.count == 0 ? "No Videos" : "My #{pluralize(@videos.count, 'Video')}" %>
        </h1>
      </div>
    </div>
    <div id="pet_videos" class="row">
      <%= will_paginate @videos %>
      <%= render partial: "video", collection: @videos.reverse, as: :f %>
      <div class="clearfix"></div>
      <%= will_paginate @videos %>
    </div>
  </div>
</div>