<li id="<%= feed_item.id %>">
  <div class="innerComment">
    <div class="avatar">
	  <% if feed_item.user %>
    <%= link_to avatar_for(feed_item.user), feed_item.user %>
    <% else %>
    <%= image_tag "silhouette.png", class: "gravatar" %>
    <% end %>
    </div>
    <div class="post wide">
      <% if signed_in? and feed_item.user == current_user %> 
        <%= link_to "You", feed_item.user %>
        <span class="action"><%= ["are awesome", "rock", "are wonderful", "are amazing", "are incredible", "are terrific"][Random.rand(0..5)] %></span>
      <% else %>
        <% if feed_item.user %>
        <%= link_to feed_item.user.name, feed_item.user %>
        <% else %>
        <span style="font-weight:bold;">Shelter Me</span>
        <% end %>
      <% end %> 
      <span class="time"><%= time_ago_in_words(feed_item.created_at) %></span>
      <p><%= wrap(feed_item.content) %></p>
      <%= render 'shared/delete_link', object: feed_item %>
    </div>
  </div>
</li>
