<div class="container">
  <div class="heroBlurb">
    <h2><%= image_tag("makeADifference.png")%></h2>
    <p>Even if you are unable to adopt a pet, volunteer your time or make a financial contribution, you can go to your local shelter and create pet profiles so others in your area can see all of the incredible pets waiting to be adopted.</p><br>
    <%= image_tag("logo.png", alt: "Shelter Me", class: "logo-large") %>
    <p>Visit a shelter, interact with the pets, take a few photos, shoot a video or two, and then add a profile using our <%= link_to "Add Pet", addpet_path %> functionality.</p><br>
    <p>Visit your <%= link_to "local shelter", findshelter_path %> today!</p>
  </div>
  <div class="heroContent heroCat">
    <%= image_tag("heroCat.png") %>
  </div>
</div>  
