<div class="container">
  <div class="heroBlurb">
    <h2><%= image_tag("makeADifference.png")%></h2>
    <p>When it comes to helping our shelter pets, many people ask, "What can I do?" Even if you are unable to adopt a pet, volunteer your time, or make a financial contribution, you can go to a local shelter and make a pet profile so others in your area can see all the incredible animals that are available to be adopted.</p>
    <%= image_tag("logo.png", alt: "Shelter Me", class: "logo-large") %>
    <p>All you need to do is visit your local pet shelter, interact with a few animals, take some great photos and video, write a bio that brings out the pet's personality and then enter it using the <%= link_to "Add Pet", addpet_path %> functionality here on our website.</p><br>
    <p>Visit your <%= link_to "local shelter", findshelter_path %> today!</p>
  </div>
  <div class="heroContent heroCat">
    <%= image_tag("heroCat.png") %>
  </div>
</div>  
