<div class="container">
  <div class="heroBlurb">
    <h2><%= image_tag("helpAShelterPet.png", width: "436", height: "32")%></h2>
    <p>You can make a difference by visiting your local shelter and creating pet profiles so others in your area can see all of the incredible pets waiting to be adopted. This can help just as much as adopting a pet, volunteering your time or making a financial contribution.</p><br>
    <%= image_tag("logo.png", alt: "Shelter Me", class: "logo-large", width: "141", height: "72") %>
    <p>Visit a shelter, interact with the pets, take a few photos, shoot a video or two, and then add a profile using our <%= link_to "Add Pet", addpet_path %> functionality.</p><br>
    <p>Visit your <%= link_to "local shelter", findshelter_path %> today!</p>
  </div>
  <div class="heroContent heroCat">
    <%= image_tag("heroCat.png", width: "249", height: "265") %>
  </div>
</div>  
