<li class="small-pet-tile <%= f.pet_state.status %>">
  <div class="small-tile-photo">
    <% if f.pet_photos.where(primary: true).size > 0 %>
      <%= link_to image_tag(f.pet_photos.where(primary: true).first.image_url.to_s.gsub!(/upload/,"upload/t_history"), width: "135", height: "90"), [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
    <% elsif f.pet_photos.size > 0 %>
      <%= link_to image_tag(f.pet_photos.first.image_url.to_s.gsub!(/upload/,"upload/t_history"), width: "135", height: "90"), [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
    <% else %>
      <%= link_to "", [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
    <% end %>
	  <% if f.pet_state.status == 'available' || f.pet_state.status == 'absent' %>
	  <div class="corner <%= f.created_at < 1.month.ago ? 'veteran' : ( f.created_at < 1.week.ago ? 'middle' : 'new' ) %>Addition">
			<%= link_to "", [f.shelter, f], rel: "tooltip", title: "#{f.created_at < 1.month.ago ? 'Added more than a month ago' : ( f.created_at < 1.week.ago ? 'Added in the last month' : 'Newly added' )}" %>
		</div>
	  <% end %>
	  <% if f.pet_state.status == 'adopted' || f.pet_state.status == 'absent' %>
    <div class="<%= f.pet_state.status == 'adopted' ? 'smallIcon adoptedIcon' : (f.pet_state.status == 'absent' ? 'smallIcon absentIcon' : '')%>">
	    <%= link_to "", [f.shelter, f], rel: "tooltip", title: "#{f.pet_state.status == 'adopted' ? 'Adopted' : 'May not be available'}" %>
	  </div>
	  <% end %>
  </div>
  <div class="small-pet-info">
    <h3>
      <% if f.name != "" %>
      <%= link_to f.name.titleize, [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
      <% else %>
      <%= link_to f.animal_code, [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
      <% end %>
    </h3>
    <p>
      <span class="breed-tile">
        <% if f.secondary_breed == nil %>
          <%= f.primary_breed.name %>
        <% else %>
          <%= f.primary_breed.name %> / <%= f.secondary_breed.name %>
        <% end %>
      </span>
      <br>
      <%= link_to f.shelter.name, f.shelter, class: "shelter-tile", target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
    </p>
  </div>
</li>