<li class="small-pet-tile <%= f.pet_state.status %>">
  <div class="small-tile-photo">
    <% if f.pet_photos.count > 0 && f.pet_photos.select{|p| p.primary == true}.count > 0 %>
      <%= link_to image_tag(f.pet_photos.select{|p| p.primary == true}.first.image_url.to_s.gsub!(/upload/,"upload/t_history")), [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
    <% elsif f.pet_photos.count == 1 %>
      <%= link_to image_tag(f.pet_photos.first.image_url.to_s.gsub!(/upload/,"upload/t_history")), [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
    <% else %>
      <%= link_to "", [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
    <% end %>
	  <% if f.pet_state.status == 'available' || f.pet_state.status == 'absent' %>
	  <div class="corner <%= f.created_at < 2.weeks.ago ? 'veteran' : ( f.created_at < 1.week.ago ? 'middle' : 'new' ) %>Addition">
			<%= link_to "", [f.shelter, f], rel: "tooltip", title: "#{f.created_at < 2.weeks.ago ? 'Added more than two weeks ago' : ( f.created_at < 1.week.ago ? 'Added less than two weeks ago' : 'Newly added' )}" %>
		</div>
	  <% end %>
    <% if f.pet_state.status == 'adopted' %>
      <%= image_tag("adoptedBigIcon.png", class: "overlay", title: "Adopted") %>
    <% elsif f.pet_state.status == 'absent' %>
      <%= image_tag("absentIcon.png", class: "overlay", title: "May not be available") %>
    <% elsif f.pet_state.status == 'unavailable' %>
      <%= image_tag("unavailableIcon.png", class: "overlay", title: "Unavailable") %>
    <% end %>
  </div>
  <div class="small-pet-info">
    <h3>
      <% if f.name != "" %>
      <%= link_to f.name, [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
      <% else %>
      <%= link_to f.animal_code, [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
      <% end %>
    </h3>
    <p>
      <span class="breed-tile">
        <% if f.secondary_breed == nil %>
          <%= f.primary_breed.name %>
        <% else %>
          <%= f.primary_breed.name %> / <%= f.secondary_breed.name %>
        <% end %>
      </span>
      <br>
      <%= link_to f.shelter.name, f.shelter, class: "shelter-tile", target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
    </p>
  </div>
  <div class="small-pet-icons">
    <ul>
      <li><%= render 'shared/icons/ageGender', f: f %></li>
      <li><%= render 'shared/icons/sizeWeight', f: f %></li>
      <li><%= render 'shared/icons/color', f: f %></li>
      <li><%= render 'shared/icons/energy', f: f %></li>
      <li><%= render 'shared/icons/nature', f: f %></li>
      <li><%= render 'shared/icons/affection', f: f %></li>
    </ul>
  </div>
  <div class="small-pet-state">
      <span class="commentCount"><%= link_to f.watchers.count, "#", rel: "tooltip", title: pluralize(f.watchers.count.to_s, " follower"), class: "unlink" %></span>
  </div>
</li>