<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <% pet_id = @pet.id %>
    <%= f.hidden_field :pet_id %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Share your thoughts...", style: "margin-bottom: 15px;" %>
  </div>
  <%= f.submit "Comment", class: "btn btn-header", style: "width: 117px; height: 28px;" %>
  <div id="char_count">240</div>
<% end %>