<div class="pet-tile <%= f.pet_state.status %>">
  <div class="tile-photo">
    <% if f.pet_photos.where(primary: true).size > 0 %>
      <%= link_to image_tag(f.pet_photos.where(primary: true).first.image_url.to_s.gsub!(/upload/,"upload/t_tile"), width: "300", height: "200"), [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'update') ? "_blank" : "_self"}" %>
    <% elsif f.pet_photos.size > 0 %>
      <%= link_to image_tag(f.pet_photos.first.image_url.to_s.gsub!(/upload/,"upload/t_tile"), width: "300", height: "200"), [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'update') ? "_blank" : "_self"}" %>
    <% else %>
      <%= link_to "Please add a photo", [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'update') ? "_blank" : "_self"}", style: "text-align:center;padding-top:30px;" %>
    <% end %>
	  <% if f.pet_state.status == 'available' || f.pet_state.status == 'absent' %>
	  <% if f.intake_date %>
	  <div class="corner noPrint <%= f.intake_date < 1.month.ago ? 'veteran' : ( f.intake_date < 1.week.ago ? 'middle' : 'new' ) %>Intake">
			<%= link_to "#{f.days_in_shelter}", "#", rel: "tooltip", title: "Has been at the shelter for #{f.days_in_shelter} days" %>
		</div>
	  <% else %>
	  <div class="corner <%= f.created_at < 1.month.ago ? 'veteran' : ( f.created_at < 1.week.ago ? 'middle' : 'new' ) %>Addition">
			<%= link_to "", [f.shelter, f], rel: "tooltip", title: "#{f.created_at < 1.month.ago ? 'Added more than a month ago' : ( f.created_at < 1.week.ago ? 'Added in the last month' : 'Newly added' )}" %>
		</div>
		<% end %>
	  <% end %>
	  <% if f.pet_state.status != 'available' %>
    <div class="<%= f.pet_state.status == 'adopted' ? 'mediumIcon adoptedIcon' : (f.pet_state.status == 'absent' ? 'mediumIcon absentIcon' : (f.pet_state.status == 'unavailable' ? 'mediumIcon unavailableIcon' : (f.pet_state.status == 'fostered' ? 'mediumIcon fosteredIcon' : 'mediumIcon rescuedIcon')))%>">
	    <%= link_to "", [f.shelter, f], rel: "tooltip", title: "#{f.pet_state.status == 'adopted' ? 'Adopted' : (f.pet_state.status == 'absent' ? 'May not be available' : (f.pet_state.status == 'fostered' ? 'Being fostered' : (f.pet_state.status == 'rescued' ? 'With a rescue' : 'Unavailable')))}" %>
	  </div>
	  <% end %>
  </div>
  <div class="pet-icons">
    <ul>
      <li><%= render 'shared/icons/ageGender', f: f %></li>
      <li><%= render 'shared/icons/sizeWeight', f: f %></li>
      <li><%= render 'shared/icons/color', f: f %></li>
      <li><%= render 'shared/icons/energy', f: f %></li>
      <li><%= render 'shared/icons/nature', f: f %></li>
      <li><%= render 'shared/icons/affection', f: f %></li>
    </ul>
  </div> 
  <div class="pet-name">
  	<h3>
      <% if f.name != '' %>
	      <%= link_to f.name.titleize, [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'update') ? "_blank" : "_self"}", class: "animal_name" %>
        <%= link_to f.animal_code, [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'update') ? "_blank" : "_self"}", class: "animal_code" %>
      <% else %>
        <%= link_to f.animal_code, [f.shelter, f], target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'update') ? "_blank" : "_self"}" %>
      <% end %>
    </h3>
  </div>
  <div class="pet-info">
    <p style="color:gray;">
      <% if f.secondary_breed == nil %>
        <%= f.primary_breed.name %>
      <% else %>
        <%= f.primary_breed.name %> / <%= f.secondary_breed.name %>
      <% end %>
    </p>
    <p>
	    <% if f.pet_state.status == 'fostered' || f.pet_state.status == 'rescued' %>
	    <span style="font-weight:bold;"><%= f.pet_state.status == 'fostered' ? 'Being fostered by ' : 'With '%><%= f.refuge_name %></span>
	    <% else %>
	    <%= link_to f.shelter.name, f.shelter, class: "shelter-tile", target: "#{params[:controller] == 'searches' or (params[:controller] == 'users' and params[:action] == 'matchme') ? "_blank" : "_self"}" %>
	    <% end %>
    </p>
  </div>
  <div class="pet-state">
    <span class="commentCount"><%= link_to f.bonds_count, "#", rel: "tooltip", title: pluralize(f.bonds_count.to_s, " follower"), class: "unlink" %></span>
  </div>
</div>