<a href="https://maps.google.com/maps?q=<%=s.street.gsub(/ /,'+')%>+<%=s.city.gsub(/ /,'+')%>,<%=s.state%>" target="_blank">
  <img src="http://maps.googleapis.com/maps/api/staticmap?size=304x104&markers=icon:http://www.scimantics.com/shelterme/1pxBlank.png|shadow:false%7C<%=s.street.gsub(/ /,'+')%>+<%=s.city.gsub(/ /,'+')%>,<%=s.state%>&zoom=13&&sensor=false&key=AIzaSyBhRhKDSxCbsS-gmm9KT6O6n_Zy6JjS8_g">
</a>