<%= simple_form_for(@search, remote: true) do |f| %>
  <div class="btnColumn firstColumn">
    <% if signed_in? %>
    <%= f.hidden_field :user_id, value: current_user.id, label: false %>
    <% end %>
    <div class="btn-group two-btn btn-graphic" data-toggle="buttons-radio" data-toggle-name="search[species_id]">
      <button type="button" data-toggle="button" class="btn" value="1">Cat</button>
      <button type="button" data-toggle="button" class="btn" value="2">Dog</button>
    </div>
    <%= f.hidden_field :species_id, label: false %>
    <div class="btn-group two-btn btn-graphic" data-toggle="buttons-radio" data-toggle-name="search[gender_id]">
      <button type="button" data-toggle="button" class="btn" value="2">Female</button>
      <button type="button" data-toggle="button" class="btn" value="1">Male</button>
    </div>
    <%= f.hidden_field :gender_id, label: false %>
    <div class="control-group string optional" style="display:none;">
      <label class="string required control-label">Breed</label>
      <div class="controls">
        <%= f.text_field :breed_name, data: {autocomplete_source: Breed.order(:name).map(&:name)}, style: "margin-bottom:0;" %>
        <p class="help-block">Start typing and matching breeds will be shown</p>
      </div>
    </div>
  </div>
  <div class="btnColumn">
    <div class="btn-group three-btn btn-graphic" data-toggle="buttons-radio" data-toggle-name="search[age_group]">
      <button type="button" data-toggle="button" class="btn" value="young">Young</button>
      <button type="button" data-toggle="button" class="btn" value="adult">Adult</button>
      <button type="button" data-toggle="button" class="btn" value="senior">Senior</button>
    </div>
    <%= f.hidden_field :age_group, label: false %>
    <div class="btn-group three-btn btn-graphic" data-toggle="buttons-radio" data-toggle-name="search[size_id]">
      <button type="button" data-toggle="button" class="btn" value="1">Small</button>
      <button type="button" data-toggle="button" class="btn" value="2">Medium</button>
      <button type="button" data-toggle="button" class="btn" value="3">Large</button>
    </div>
    <%= f.hidden_field :size_id, label: false %>
    <div class="control-label findLocation">
      <span id="currentLocation"><%= @current_location %></span>
      &nbsp;&nbsp;
      <a href="#" id="changeLocation">Change location</a>
    </div>
    <div class="changeLocation hidden">
      <%= f.text_field :location, value: @current_location, style: "width:280px;" %>
    </div>
  </div>
  <div class="btnColumn lastColumn">
    <div class="btn-group three-btn btn-graphic" data-toggle="buttons-radio" data-toggle-name="search[energy_level_id]">
      <button type="button" data-toggle="button" class="btn" value="1">Relaxed</button>
      <button type="button" data-toggle="button" class="btn" value="2">Balanced</button>
      <button type="button" data-toggle="button" class="btn" value="3">Tireless</button>
    </div>
    <%= f.hidden_field :energy_level_id, label: false %>
    <div class="btn-group three-btn btn-graphic" data-toggle="buttons-radio" data-toggle-name="search[nature_id]">
      <button type="button" data-toggle="button" class="btn" value="1">Submissive</button>
      <button type="button" data-toggle="button" class="btn" value="2">Playful</button>
      <button type="button" data-toggle="button" class="btn" value="3">Dominant</button>
    </div>
    <%= f.hidden_field :nature_id, label: false %>
    <div class="btn-group three-btn btn-graphic" data-toggle="buttons-radio" data-toggle-name="search[affection_id]">
      <button type="button" data-toggle="button" class="btn" value="3">Reserved</button>
      <button type="button" data-toggle="button" class="btn" value="2">Friendly</button>
      <button type="button" data-toggle="button" class="btn" value="1">Devoted</button>
    </div>
    <%= f.hidden_field :affection_id, label: false %>
  </div>
  <button type="submit", class="btn btn-header", data-remote="true", data-type="json", style="width: 153px;font-size:14px;line-height:22px;margin-bottom:10px;margin-right:15px;visibility:hidden;" >
    <%= image_tag("smallFindIcon.png", style:"margin-top:-4px;")%>&nbsp; Find Me
  </button>
  <%= link_to("Reset", findpet_path, style: "float:right;padding-top:6px;visibility:hidden;")%>
<% end %>