<footer>
  <div class="container">
    <div class="pull-left">
      <ul>
        <li><%= link_to "Help",     help_path %></li>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "FAQ",      faq_path %></li>
        <li><%= link_to "Terms",   terms_path %></li>
        <li><%= link_to "Privacy", privacy_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
      <div class="clearfix"></div>
      <div class="quote">
				I have found the paradox that if I love until it hurts, then there is no hurt, but only more love. - Mother Teresa
	    </div>
    </div>
    <div class="pull-right">
      <div class="social-links">
        <%= link_to image_tag("facebook.png", class: "facebook"), "#" %>
        <%= link_to image_tag("twitter.png", class: "twitter"), "http://www.twitter.com/HelpShelterMe", target: "_blank" %>
        <%= link_to image_tag("shelterMeSmall.png", class: "logo"), root_path %>
        <br><br>
        <div class="bottomBit">&copy; <%= Time.now.year %> Shelter Me. All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>