<footer>  
  <div class="container">
    <div class="pull-left">
      <ul>
        <li><%= link_to "FAQ",      faq_path %></li>
        <li><%= link_to "Tutorial", tutorial_path %></li>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Terms",   terms_path %></li>
        <li><%= link_to "Privacy", privacy_path %></li>
      </ul>
      <div class="clearfix"></div>
      <div class="quote">
        I have found the paradox that if I love until it hurts, then there is no hurt, but only more love. - Mother Teresa
      </div>
    </div>
    <div class="pull-right">
      <div class="social-links">
        <%= link_to image_tag("facebook.png", class: "facebook", width: "36", height: "36"), "https://www.facebook.com/ShelterMeTV", target: "_blank" %>
        <%= link_to image_tag("twitter.png", class: "twitter", width: "37", height: "37"), "http://www.twitter.com/ShelterMeTV", target: "_blank" %>
        <%= link_to image_tag("shelterMeSmall.png", class: "logo", width: "100", height: "25"), root_path %>
        <br>
        <div class="bottomBit">
			Geocoding courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">.<br>
			&copy; <%= Time.now.year == 2013 ? Time.now.year : "2013 - " + Time.now.year.to_s %> Shelter Me. All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>