<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  <!--<%= link_to image_tag("logo.png", alt: "Shelter Me"), root_path, id: "logo" %> -->
			<%= link_to "SHELTER ME", root_path, id: "logo" %>
			<div class="nav-collapse">
 	     <nav>
	        <ul class="nav pull-right">
						<li><%= link_to "Add Pet", '#' %></li>
						<li><%= link_to "Find Pet", '#' %></li>
						<li><%= link_to "Find Shelter", '#' %></li>
						<% if signed_in? %>
						<li><%= link_to "Match Me", '#' %></li>
						<% end %>
						<li class="divider-vertical"></li>
	          <% if signed_in? %>
	            <li id="fat-menu" class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                <i class="icon-user icon-white"></i> <b class="caret"></b>
	              </a>
	              <ul class="dropdown-menu">
	                <li><%= link_to "Profile", current_user %></li>
	                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
	                <li class="divider"></li>
	                <li>
	                  <%= link_to "Sign out", signout_path, method: "delete" %>
	                </li>
	              </ul>
	            </li>
	          <% else %>
	            <li><%= link_to "Sign in", signin_path %></li>
	          <% end %>
	        </ul>
	      </nav>
			</div>
    </div>
  </div>
</header>