<header class="navbar navbar-fixed-top noPrint">
  <div class="navbar-inner">
    <div class="container">
       <%= link_to "", root_path, class: "navLogo navMain" %>
       <%= image_tag("navSpinner.gif", class: "navSpinner") %>
       <ul class="nav pull-left">
			   <% if params[:controller] == 'pets' and (params[:action] == 'addpet' or params[:action] == 'new') %>
				 <li class="navAddPet addPetOn navMainOn">
				 <% else %>
				 <li class="navAddPet addPetOff navMain">
				   <%= link_to "", addpet_path, class: "navAddPet" %>
				 <% end %>
				 </li>
         <li class="vertDivide"> </li>
         <% if params[:controller] == 'searches' and params[:action] == 'new' %>
			   <li class="navFindPet findPetOn navMainOn">
				 <% else %>
			   <li class="navFindPet findPetOff navMain">
			     <%= link_to "", findpet_path, class: "navFindPet" %>
			   <% end %>
			   </li>
         <li class="vertDivide"> </li>
			   <% if params[:action] == 'find' and params[:controller] == 'shelters' %>
			   <li class="navFindShelter findShelterOn navMainOn">
				 <% else %>
			   <li class="navFindShelter findShelterOff navMain">
			     <%= link_to "", findshelter_path, class: "navFindShelter" %>
			   <% end %>
			   </li>
         <li class="vertDivide"> </li>
			   <% if params[:action] == 'matchme' %>
			   <li class="navMatchMe matchMeOn navMainOn">
				 <% else %>
			   <li class="navMatchMe matchMeOff navMain">
			     <%= link_to "", matchme_path, class: "navMatchMe" %>
			   <% end %>
			   </li>
       </ul>
       <%= render "layouts/nav_menu" %>
    </div>
  </div>
</header>
<div class="clearfix noPrint"></div>
<div id="floater">
  <p>More <i class="icon-arrow-down icon-white"></i></p>
</div>