<ul class="nav pull-right">
  <% if signed_in? %>
    <li class="header-alert">
	  <% if current_user.name == "Tim Lenz"%>
	    <% if current_user.admin? %>
      <%= (current_user.manager? && (my_photoless + managed_photoless + all_photoless > 0)) ? my_photoless + managed_photoless + all_photoless : (my_photoless + all_photoless > 0 ? my_photoless + all_photoless : "") %> 
      <% elsif current_user.manager? %>
      <%= my_photoless + managed_photoless > 0 ? my_photoless + managed_photoless : "" %>
      <% else %>
      <%= my_photoless > 0 ? my_photoless : "" %>
	    <% end %>
	  <% end %>
    </li>
    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:7px;">
        <%= image_tag("profileIcon.png", mouseover: "profileIconOver.png", alt: "Profile") %></span>
      </a>
      <ul class="dropdown-menu">
        <li class="menu-photo">
          <%= avatar_for current_user, size: 40 %>
          <div class="menu-name"><%= current_user.name %></div>
        </li>
        <li class="divider"></li>
        <li><%= link_to "My Profile", current_user %></li>
        <li><%= link_to "Edit My Profile", edit_user_path(current_user) %></li>
        <li class="divider"></li>
        <li>
	      <% if current_user.name == "Tim Lenz" and my_photoless > 0 %>
	      <a href="<%= mysponsoredpets_path %>" rel="tooltip" title="<%= pluralize(my_photoless.to_s,"pet") %> need photos">
					<span class="alert-count"><%= my_photoless %></span> My Sponsored Pets
	      </a>
	      <% else %>
        <%= link_to "My Sponsored Pets", mysponsoredpets_path %>
        <% end %>
        </li>
        <% if current_user.manager? %>
        <li class="admin">
	      <% if current_user.name == "Tim Lenz" and managed_photoless > 0 %>
	      <a href="<%= mymanagedpets_path %>" rel="tooltip" title="<%= pluralize(managed_photoless.to_s,"pet") %> need photos">
					<span class="alert-count"><%= managed_photoless %></span> My Managed Pets
	      </a>
	      <% else %>
	      <%= link_to "My Managed Pets", mymanagedpets_path %>
        <% end %>
        </li>
        <% end %>
        <li><%= link_to "My Followed Pets", myfollowedpets_path %></li>
        <li><%= link_to "My Followed Users", myfollowedusers_path %></li>
        <li class="divider"></li>
        <li><%= link_to "My Updates", myupdates_path %></li>
        <li><%= link_to "My Photos", myphotos_path %></li>
        <li><%= link_to "My Videos", myvideos_path %></li>
        <li class="divider"></li>
        <% if current_user.admin? %>
        <li class="admin"><%= link_to "Statistics", statistics_path %></li>
        <li class="admin">
	      <% if current_user.name == "Tim Lenz" and all_photoless > 0 %>
	      <a href="<%= p_path %>" rel="tooltip" title="<%= pluralize(all_photoless.to_s,"pet") %> need photos">
					<span class="alert-count"><%= all_photoless %></span> All Pets
	      </a>
	      <% else %>
        <%= link_to "All Pets", p_path %>
        <% end %>
        </li>
        <li class="admin"><%= link_to "All Users", u_path %></li>
        <li class="admin"><%= link_to "All Shelters", s_path %></li>
        <li class="admin"><%= link_to "All Managers", sm_path %></li>
        <li class="divider"></li>
        <li class="admin"><%= link_to "All Comments", pc_path %></li>
        <li class="admin"><%= link_to "All Photos", pp_path %></li>
        <li class="admin"><%= link_to "All Videos", pv_path %></li>
        <li class="divider"></li>
        <% end %>
        <li style="text-align:left;">
          <%= link_to "Sign Out", signout_path, method: "Delete" %>
        </li>
      </ul>
    </li>
  <% else %>
  <% if params[:controller] == 'users' and params[:action] == 'new' %>
    <li class="signInOn" style= "padding:8px 15px 8px;width:50px;">Join</li>
  <% else %>  
    <li class="signInit"><%= link_to "Join", join_path, style: "padding:8px 15px 8px;color:#722705;width:50px;" %></li>
  <% end %>
    <% if params[:controller] == 'sessions' and params[:action] == 'new' %>
      <li class="signInOn" style= "padding:8px 15px 8px;width:50px;">Sign In</li>
    <% else %>  
      <li class="signInit"><%= link_to "Sign In", signin_path, style: "padding:8px 15px 8px;color:#722705;width:50px;" %></li>
    <% end %>
  <% end %>
</ul>