<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
		<%= canonical_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="sm">
	    <% flash.each do |key, value| %>
	      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
	    <% end %>
      <%= yield %>
			<% if Rails.env.development? %>
				<div class="container">
					<%= render 'layouts/grid' %>
					<%= debug(params) %>
				</div>
			<% end %>
      <%= render 'layouts/footer' %>
    </div>	
	  <%= javascript_include_tag "application" %>
		<% if params[:controller] == 'pets' %>
			<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
		<% end %>
  </body>
</html>