<!DOCTYPE html>
<% if params[:controller] == 'pets' and params[:action] == 'show' %>
<html prefix="og: http://ogp.me/ns#">
<% else %>
<html>
<% end %>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= canonical_link_tag %>
    <% if (params[:controller] == 'pets' && params[:action] == 'show') or (params[:controller] == 'static_pages' && params[:action] == 'tutorial') %>
		<link href="http://vjs.zencdn.net/4.0/video-js.css" rel="stylesheet">
		<script src="http://vjs.zencdn.net/4.0/video.js"></script>
		<% end %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <% if params[:controller] == 'pets' and params[:action] == 'show' and @pet %>
      <%= render 'pets/open_graph'%>
    <% end %>
  </head>
  <body onLoad="testCookies();">
    <div id="sm">
<%= render 'layouts/header' %>   
<%= render 'layouts/errors' %>

<%= yield %>

      <div class="push"></div>
    </div>  
<% if signed_in? && pet_list.count > 1 && params[:action] != "tutorial" %>
<%= render 'layouts/history' %>
<% end %>
<%= render 'layouts/footer' %>  
<%= javascript_include_tag "application" %>
<% if params[:controller] == 'users' && params[:action] == 'edit' %>
<%= cloudinary_js_config %>
<% end %>
<% if params[:controller] == 'pets' && params[:action] == 'show' %>
  <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
  <script src="//d21qbsp9m249bi.cloudfront.net/u/1.4/jquery.panda-uploader.min.js" type="text/javascript"></script> 
<% end %>
<% if !Rails.env.development? %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36076402-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %>
<script type="text/javascript">  
	function testCookies() {  
	  document.cookie = "cookie_test=test;";  
	  var results = document.cookie.match ( '(^|;) ?cookie_test=([^;]*)(;|$)' );  
	  if (!results) // No cookies were set - The browser doesn't allow cookies.  
	    $('.cookieCheck').show(); 
	  else // Delete the cookie - It's no longer needed.  
	    document.cookie = "cookie_test=; expires=01/01/2001 00:00:00; path='/'";  
	}  
</script>
  </body>
</html>